<layout name="add_layout" />
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="/admin">首页</a><span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="{:U('index')}">{$ur_here}</a><span class="crumb-step">&gt;</span><span>{:L('add')}</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="{:U('insert')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <table class="insert-tab" width="100%">
                <tbody>
                
                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('album_name')}:</th>
                        <td>
                            <input class="common-text required" id="title" name="data[album_name]" size="50" value="" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('image_width')}:</th>
                        <td>
                            <input class="common-text required" id="title" name="data[image_width]" size="50" value="" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('image_height')}:</th>
                        <td>
                            <input class="common-text required" id="title" name="data[image_height]" size="50" value="" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('album_desc')}:</th>
                        <td>
                            <input class="common-text required" id="title" name="data[album_desc]" size="50" value="" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="{:L('button_submit')}" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="{:L('button_return')}" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>