<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>运行维护</h1>
                <span>Operation and Maintenance</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/support/operation.html">技术支持</a></li>
                    <li class="active">运行维护</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content                                                                                                                           
        ============================================= -->                                                                                      
        <section id="content">                                                                                                                 
                                                                                                                                               
            <div class="content-wrap">                                                                                                         
                                                                                                                                               
				<div class="container clearfix">                                                                                                 
                                                                                                                                               
                    <!-- Post Content                                                                                                          
                    ============================================= -->                                                                          
					<div class="postcontent col_last nobottommargin clearfix">                                                                   
                                                                                                                                               
						<div id="faqs" class="faqs">                                                                                             
                                                                                                                                               
							<div id="faqs-list" class="fancy-title title-bottom-border">                                                         
								<h3>运行维护</h3>                                                                                 
							</div>                                                                                                               
                                                                                                                                               
							<ul class="iconlist faqlist">                                                                                        
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">云主机被肉鸡了怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">云主机CPU跑满了怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-3">云主机带宽跑满了怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">云主机延时变化比较大怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-5">无法访问云主机上的网站怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-6">网站502错误怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-7">云服务宕机了怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-8">如何加强云主机安全</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-9">Ping网站有丢包怎么办</a></strong></li>           
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-10">FTP上传文件经常断怎么办</a></strong></li>           
							</ul>                                                                                                                
                                                                                                                                               
							<ul class="pagination">                                                                                              
							  <li><a href="operation.html">«</a></li>                                                                                         
							  <li><a href="operation.html">1</a></li>                                                                                         
							  <li><a href="operation-1.html">2</a></li>                                                                                         
							  <li><a href="operation-1.html">»</a></li>                                                                                         
							</ul>                                                                                                                
                                                                                                                                               
							<div class="divider"><i class="icon-circle"></i></div>                                                               
                                                                                                                                               
							<a href="operation/28.html"><h3 id="faq-1"><strong>Q.</strong> 云主机被肉鸡了怎么办 ?</h3></a>                                                   
							<p>1、更改系统管理员账户的密码，密码长度不小于8位并且使用大写字母/小写字母/数字/特殊字符组合；2、更改远程登录端口并开启防火墙限制允许登录的IP，防火墙配置只开放特定的服务端口并对FTP、数据库等这些不需要对所有用户开放的服务进行源IP访问控制；</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/29.html"><h3 id="faq-2"><strong>Q.</strong> 云主机CPU跑满了怎么办 ?</h3></a>                                                   
							<p>1. 检查程序最大线程数是否足够；2. 程序代码不够优化，如死循环，死锁；3. web配置文件的参数是否不够优化;4. 查看web和系统日志看是否有访问异常；5. 网站是否被盗链;6. 当时是否有搜索引擎爬虫大面积爬取网站；</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/30.html"><h3 id="faq-3"><strong>Q.</strong> 云主机带宽跑满了怎么办 ?</h3></a>                                                   
							<p>1、造成流量大的原因：网站规模较大（比如门户网站、网络商城等），即网站本身访问量需求大，查看网站的Page View值、Hits值、日流量都很高。 网站页面设计不合理，页面中包含大图片或音频、视频文件等文件，导致网站页面太大 。网站内容被盗链或提供数据下载，网站提供*.mp3,*.rar,*.zip*.exe等文件的下载，或者是您的网站提供视频、音频文件的播放 。网站遭受DDOS攻击或者是被挂马，短期内产生大量的访问需求。</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/31.html"><h3 id="faq-4"><strong>Q.</strong> 云主机延时变化比较大怎么办 ?</h3></a>                                                   
							<p>1、先看下机器性能是否cpu跑满，负载高，带宽跑满，内存耗尽，中病毒，进程异常导致。2、本地ping下其他网站是否也是这样，判断下是否是本地网络不稳定导致。3、如果ping其他网站正常，建议您联系客服，让售后客服协助您处理。</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/32.html"><h3 id="faq-5"><strong>Q.</strong> 无法访问云主机上的网站怎么办 ?</h3></a>                                                   
							<p>先测试本地是否能ping通云服务器，ping测试正常再测试本地是否能够正常访问云服务器的web端口，如果无法访问云服务器的web端口则登陆云服务器查询web服务是否正常。</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/33.html"><h3 id="faq-6"><strong>Q.</strong> 网站502错误怎么办 ?</h3></a>                                                   
							<p>502 Bad Gateway a）针对您服务器的并发连接和进程数是否有异常。  b）您的iis或者php-cgi，php-fpm进程是否配置有问题，参数设置是否需要优化。  c）检查您的网站程序和数据库，是否存在数据库慢查询等问题。 </p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/34.html"><h3 id="faq-7"><strong>Q.</strong> 云服务宕机了怎么办 ?</h3></a>                                                   
							<p>让您启动机器，看能否登陆，如果能登陆，请您检查: a、是否是应用程序导致内存溢出或者泄露，out of memory导致 b、是否是进程过多或者不断创建，耗尽资源导致 c、是否是数据库程序死锁，连接数过多导致</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/35.html"><h3 id="faq-8"><strong>Q.</strong> 如何加强云主机安全 ?</h3></a>                                                   
							<p>    检查服务器应用及网站程序是否有漏洞，开启服务器默认防火墙，关闭一些不必要的端口。设置密码超过12位，并且字母要有大小写，建议无规律，可以将默认远程端口修改成别的端口。windows机器及时打补丁，可以安装一些安全软件。</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/36.html"><h3 id="faq-9"><strong>Q.</strong> Ping网站有丢包怎么办 ?</h3></a>                                                   
							<p>访问服务器丢包的原因很多，如：服务器性能cpu，带宽使用是否比较高、中病毒、本地网络有问题、中间路由节点网络问题、受到网络攻击、进入清洗等都可能导致访问服务器丢包；建议您可以通过路由追踪图查看一下丢包的详细情况。</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
							<a href="operation/37.html"><h3 id="faq-10"><strong>Q.</strong> FTP上传文件经常断怎么办 ?</h3></a>                                                   
							<p>在使用FTP软件进行数据传输时有时会出现断开连接的情况，这和网络环境、硬件环境和软件环境都可能有关系。\n如果您在FTP管理里出现经常中断的情况，您可以将您要上传的网站程序文件压缩成一个压缩文件，使用FLASHFXP等FTP软件进行断点续传，压缩文件上传之后再在服务器中进行解压缩操作即可。（也有小概率可能受到网络原因传输过程中压缩包损坏，需要再次上传，所以巨大文件建议分割压缩）</p>                                                                                                          
                                                                                                                                               
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>  
                                                                                                                                               
						</div>                                                                                                                   
                                                                                                                                               
					</div>                                                                                                                       
					<!-- .postcontent end -->                                                                                                    
                                                                                                                                               
                                                                                                                                               
                    <!-- Sidebar                                                                             
                    ============================================= -->                                        
                    <div class="sidebar nobottommargin clearfix">                                            
                        <div class="sidebar-widgets-wrap">                                                   
                                                                                                             
                            <div class="widget widget_links clearfix">                                       
                                                                                                             
                                <h4>技术支持</h4>                                                            
                                <ul>                                                                         
                                    <li><a href="product.html"><div>了解产品</div></a></li>                  
                                    <li><a href="installation.html"><div>安装使用</div></a></li>                  
                                    <li><a href="operation.html"><div>运行维护</div></a></li>                  
                                                                                                             
                                </ul>                                                                        
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/131.html" class="nobg"><img src="/data/upload/201606/f_9a3aaa58df5882d7165fe63ead9be832.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/131.html">HostingCon在深举办，明芳互联应邀参会</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/130.html" class="nobg"><img src="/data/upload/201606/f_fab2628fda36e15428daa48f043e7ef7.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/130.html">香港服务器价格知多少，便宜没好货？</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-19</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/129.html" class="nobg"><img src="/data/upload/201606/f_e7d507876434abc18d419e392d5f0787.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/129.html">选择美国特惠服务器，自建平台很重要</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-03-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                                                                                             
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->