<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>安装使用</h1>
                <span>Installation</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('Service/installation')}">技术支持</a></li>
                    <li class="active">安装使用</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content              
        ============================================= -->
        <section id="content">
                                  
            <div class="content-wrap">
                                  
				<div class="container clearfix">
                                  
                    <!-- Post Content                      
                    ============================================= -->
					<div class="postcontent col_last nobottommargin clearfix">
                                  
						<div id="faqs" class="faqs">
                                  
							<div id="faqs-list" class="fancy-title title-bottom-border">
								<h3>安装使用</h3>
							</div>
                                  
							<ul class="iconlist faqlist">
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">硬盘分区和格式化 FOR Windows 2008</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">Linux下图形化界面如何安装</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-3">如何远程登录您的服务器</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">如何检查磁盘和分区格式化</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-5">如何上传文件到系统里</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-6">如何调整目录文件的拥有者和拥有组</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-7">CentOS中yum update很慢，如何处理</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-8">如何扩大SWAP分区呢</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-9">云主机是否可以更新内核</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-10">CentOS上, 我如何制作自定义的内核rpm包</a></strong></li>
							</ul>
                                  
							<ul class="pagination">
							  <li><a href="installation.html">«</a></li>
							  <li><a href="installation.html">1</a></li>
							  <li><a href="installation-1.html">2</a></li>
							  <li><a href="installation-1.html">»</a></li>
							</ul>
                                  
							<div class="divider"><i class="icon-circle"></i></div>
                                  
							<a href="installation/18.html"><h3 id="faq-1"><strong>Q.</strong> 硬盘分区和格式化 FOR Windows 2008 ?</h3></a>
							<p>1、 启动左下角任务栏中的“服务器管理器”，选择“存储”-&gt;“磁盘管理”； 2、 在空白分区上，右键选择“新建简单卷”； 3、 启动新建简单卷向导；选择“下一步”； 4、 设置简单卷的大小，即分区的大小；默认会选择所有剩余空间。您也可以根据需要，指定分区大小；选择“下一步”； 5、 指派驱动器号，默认顺序使用；选择“下一步”；6、 格式化分区，默认勾选了“执行快速格式化”；选择“下一步”；7、 点击“完成”，系统会自动设置好新的分区。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/19.html"><h3 id="faq-2"><strong>Q.</strong> Linux下图形化界面如何安装 ?</h3></a>
							<p>很多用户由于应用的需要可能会用到vnc图形化界面，下面给大家介绍下明芳互联云主机 vnc安装配置教程：测试环境：redhat54.64位 centos5.7 64位</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/20.html"><h3 id="faq-3"><strong>Q.</strong> 如何远程登录您的服务器 ?</h3></a>
							<p>通常linux系统是使用ssh服务来提供远程连接的。您需要使用诸如putty、xshell、secureCRT来进行连接。\nPutty下载地址：http://the.earth.li/~sgtatham/putty/latest/x86/putty.zip\nXshell下载地址：http://www.onlinedown.net/soft/36383.htm</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/21.html"><h3 id="faq-4"><strong>Q.</strong> 如何检查磁盘和分区格式化 ?</h3></a>
							<p>查询当前磁盘使用情况可以通过 df –h 命令来查询，查询磁盘信息可以通过 fdisk –l 命令来查询。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/22.html"><h3 id="faq-5"><strong>Q.</strong> 如何上传文件到系统里 ?</h3></a>
							<p>ssh服务自带了一个sftp服务，该服务是基于ssh协议的ftp服务，但是安全性更高于ftp。我们使用xshell软件、secureCRT或者xftp都可以连接，其中xftp是完全图形化操作的。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/23.html"><h3 id="faq-6"><strong>Q.</strong> 如何调整目录文件的拥有者和拥有组 ?</h3></a>
							<p>在WEB服务器里如果文件或者目录的权限不正确会导致访问网站出现403错误。所以我们首先要确认需要操作这些文件目录的进程是以什么身份运行的。在linux里是可以通过ps 和grep来查询到的。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/24.html"><h3 id="faq-7"><strong>Q.</strong> CentOS中yum update很慢，如何处理 ?</h3></a>
							<p>将/etc/yum.repos.d/CentOS-Base.repo中6.3（或者其他版本号）改为$releasever，然后yum update。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/25.html"><h3 id="faq-8"><strong>Q.</strong> 如何扩大SWAP分区呢 ?</h3></a>
							<p>swapoff -a rm /swapfile fallocate -l 1024m /swapfile #或者dd if=/dev/zero of=/swapfile bs=1M count=1024 chmod 600 /swapfile mkswap /swapfile swapon /swapfile</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/26.html"><h3 id="faq-9"><strong>Q.</strong> 云主机是否可以更新内核 ?</h3></a>
							<p>可以更新. 和物理服务器一样, 使用yum update或apt-get upgrade linux-image即可</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="installation/27.html"><h3 id="faq-10"><strong>Q.</strong> CentOS上, 我如何制作自定义的内核rpm包 ?</h3></a>
							<p>1. 确认当前内核版本号, 下载对应的SRPM包2. 安装SRPM以及相关RPM工具3. 生成内核源码, 使用diff生成patch文件</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
                                  
						</div>
                                  
					</div>
					<!-- .postcontent end -->
                                  
                                  
                    <!-- Sidebar                                                                             
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>技术支持</h4>
                                <ul>
                                    <li><a href="{:U('Service/product')}"><div>了解产品</div></a></li>
                                    <li><a href="{:U('Service/installation')}"><div>安装使用</div></a></li>
                                    <li><a href="{:U('Service/faq')}"><div>运行维护</div></a></li>

                                </ul>

                            </div>

                            <include file="Common/hot_news"/>

                            <include file="Common/tag"/>

                            <div class="widget clearfix">



                            </div>

                        </div>
                    </div><!-- .sidebar end -->

                </div>

                  </div>
        </section><!-- #content end -->


