<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>了解产品</h1>
                <span>Production</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('Service/product')}">技术支持</a></li>
                    <li class="active">了解产品</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content              
        ============================================= -->
        <section id="content">
                                  
            <div class="content-wrap">
                                  
				<div class="container clearfix">
                                  
                    <!-- Post Content                                                                                                          
                    ============================================= -->
					<div class="postcontent col_last nobottommargin clearfix">
                                  
						<div id="faqs" class="faqs">
                                  
							<div id="faqs-list" class="fancy-title title-bottom-border">
								<h3>了解产品</h3>
							</div>
                                  
							<ul class="iconlist faqlist">
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">什么是云计算</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">如何选云主机配置带宽大小</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-3">云主机与VPS的区别</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">如何选择云主机操作系统</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-5">云主机是否支持配置升级和降级</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-6">云主机公网IP是否独享</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-7">云主机能防御攻击么</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-8">云主机硬盘的IO性能怎么样</a></strong></li>
								<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-9">明芳互联云服务器优势对比</a></strong></li>
							</ul>
                                  
							<ul class="pagination">
							  <li><a href="product.html">«</a></li>
							  <li><a href="product.html">1</a></li>
							  <li><a href="product.html">»</a></li>
							</ul>
                                  
							<div class="divider"><i class="icon-circle"></i></div>
                                  
							<a href="product/10.html"><h3 id="faq-1"><strong>Q.</strong> 什么是云计算 ?</h3></a>
							<p>    云计算（Cloud Computing）是一种能够通过网络随时随地获取高可用计算资源的计算模式。云计算的服务商通过对软硬件资源的虚拟化，将基础资源变成了可以自由调度的“池子”，从而实现资源的按需配给，并做到向客户提供按使用付费的服务;客户可以根据业务的需要动态调整所需的资源，而云服务商也可以提高自己的资源使用效率，降低服务成本，通过多种不同类型的服务方式为用户提供计算、存储和数据业务的支持。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/11.html"><h3 id="faq-2"><strong>Q.</strong> 如何选云主机配置带宽大小 ?</h3></a>
							<p>    我们通常说的网站流量（traffic）就是指网站的访问量，是用来描述访问一个网站的用户数量以及用户所浏览的网页数量等指标，常用的统计指标包括网站的独立用户数量、总用户数量（含重复访问者）、网页浏览数量、每个用户的页面浏览数量、用户在网站的平均停留时间等。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/12.html"><h3 id="faq-3"><strong>Q.</strong> 云主机与VPS的区别 ?</h3></a>
							<p>云主机，即时完成，可一键部署、也可自主安装操作系统；内置KVM、客户通过自服务系统可以集中统一管理分布在各地的云主机；完全拥有root或超级管理员操作系统权限；综合成本最低：月付无押金、按需使用按需付费、基本零维护 ，还可分享规模化、绿色节能、最佳IT实践带来的成本优势。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/13.html"><h3 id="faq-4"><strong>Q.</strong> 如何选择云主机操作系统 ?</h3></a>
							<p>1. Windows 1.1) 系统内含正版激活。 1.2) 适合于运行Windows下开发的程序，如.net等。 1.3) 支持SQL Server等数据库（需自行安装）。 1.4) 可以使用远程桌面方式登录进行管理。 注：512内存不支持选择Windows系统，1G以上内存才能很好支持该系统。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/14.html"><h3 id="faq-5"><strong>Q.</strong> 云主机是否支持配置升级和降级 ?</h3></a>
							<p>1、云主机或者配置能否升级能支持升级  2、配置升级费用怎么计算升级的费用是以补差价的形式，用户可以联系明芳互联客户了解详情。 3、是否无缝升级或者升级是否会有影响；升级是无缝升级的，不会影响数据。4、升级需要多少时间；目前升级需要停机操作大概15分钟左右。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/15.html"><h3 id="faq-6"><strong>Q.</strong> 云主机公网IP是否独享 ?</h3></a>
							<p>1. 云主机ip是否独立？是，明芳互联云主机会自动分配一个独立的IP\n2. 云主机有几个ip，可以再增加吗？什么是外网IP，什么是内网IP?明芳互联云主机会自动分配一个独立的外网IP和一个独立的内网IP，内网IP一般用于云主机之间、服务器之间的通信。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/16.html"><h3 id="faq-7"><strong>Q.</strong> 云主机能防御攻击么 ?</h3></a>
							<p>  当出现网络攻击时，我们的监控系统可以自动检测到给您清洗异常流量，如果攻击很大的话，我们会给您做黑洞处理，保护您的服务器安全。出于安全考虑，我们也建议您自己安装防护软件，还有封闭不常用的端口。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/17.html"><h3 id="faq-8"><strong>Q.</strong> 云主机硬盘的IO性能怎么样 ?</h3></a>
							<p>1、硬盘大小跟购买时不一致（挂载）购买须知有；如果存在购买时大小差异的问题，需要手动挂载数据盘2、硬盘能否进行分区格式化；可以，硬盘均可以支持分区及格式化3、硬盘的IO性能怎么样；高，明芳互联采用高性能高IO硬盘4、硬盘能否扩容；硬盘可以按需扩容升级</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
							<a href="product/39.html"><h3 id="faq-9"><strong>Q.</strong> 明芳互联云服务器优势对比 ?</h3></a>
							<p>明芳互联，和全球一线高要求高标准的IDC服务商合作，资源服务优势明显；采用国际BGP IP及包含亚洲、美洲、欧洲各地IP资源；使用全球独享骨干高速网络资源，网络智能加速，延时低；使用国际知名高质量高配置高性能服务器且合理分配服务器资源到云主机，性能有保障；架设单独的防护设备，可防御网络攻击，病毒入侵。</p>
                                  
							<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
                                  
						</div>
                                  
					</div>
					<!-- .postcontent end -->
                                  
                                  
                    <!-- Sidebar                                                                             
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>技术支持</h4>
                                <ul>
                                    <li><a href="{:U('Service/product')}"><div>了解产品</div></a></li>
                                    <li><a href="{:U('Service/installation')}"><div>安装使用</div></a></li>
                                    <li><a href="{:U('Service/faq')}"><div>运行维护</div></a></li>

                                </ul>

                            </div>

                            <include file="Common/hot_news"/>

                            <div class="widget clearfix">

                                <h4>标签</h4>
                                <div class="tagcloud">
                                    <a href="#">云主机</a>
                                    <a href="#">香港云主机</a>
                                    <a href="#">美国服务器</a>
                                    <a href="#">新加坡服务器</a>
                                    <a href="#">台湾云主机</a>
                                    <a href="#">负载均衡</a>
                                    <a href="#">CDN</a>
                                    <a href="#">网路游戏</a>
                                    <a href="#">跨境电商</a>
                                    <a href="#">大数据</a>
                                </div>

                            </div>

                            <div class="widget clearfix">



                            </div>

                        </div>
                    </div><!-- .sidebar end -->

                </div>

                  </div>
        </section><!-- #content end -->