<<layout name="common_layout" />

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

				<div class="container clearfix">
					<h2>行业优势</h2>
					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/images/appshowcase/a1.png" alt="Image" class="bottommargin-sm"></a>
						<h4>改善用户访问体验</h4>
						<p>面对不均衡的无线网络环境，随时出现的用户增量需求及安全问题，明芳互联依托全球部署的云服务节点，为用户提供更便捷快速的网络访问体验</p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/images/appshowcase/a2.png" alt="Image" class="bottommargin-sm"></a>
						<h4>显著提升系统性能</h4>
						<p>基于高频内存，SSD磁盘最大可能的提高数据库的IO处理性能，以应对用户的爆发式增长，让基础计算能力不再成为发展瓶颈</p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="/images/appshowcase/a3.png" alt="Image" class="bottommargin-sm"></a>
						<h4>异地备灾更加可靠</h4>
						<p>用户统计分析的数据至关重要，明芳互联为用户制定专业的海外跨数据中心灾备方案，确保数据更加安全</p>
					</div>

				</div>
				
				<div class="clear"></div><div class="line"></div>
				
				<div class="container clearfix">
					<h2>行业架构</h2>
					<div class="col_two_third topmargin nobottommargin">
						<img data-animate="fadeInLeft" src="/images/solutions/app.png" alt="Game" style="opacity: 0; width: 100%; top: 0; left: 0;" class="fadeInLeft animated">
					</div>


					<div class="col_one_third topmargin nobottommargin col_last">
						<h3>移动应用解决方案</h3>
						<p>在移动互联网高速发展的背景下，移动应用行业迎来发展的黄金时期，明芳互联深耕海外云服务市场多年，已积累大量海外的移动应用客户群体，轻松应对移动应用中随时可能出现的用户数量的爆发式增长、复杂的移动安全挑战等问题，助力移动应用企业快速成长。</p>
<h3>使用产品</h3>
<p>
  <img src="/images/products/1.jpg" style="width:55px;"> 云主机
<a href="/products/cloudserver.html" class="button button-small button-dark button-rounded"><i class=""></i>查看详情</a>
<a href="/products/cloud/apply.php" class="button button-small button-border button-rounded"><i class=""></i>申请试用</a>
</p>
					</div>

                </div>



                <div class="container clearfix">

                   

                   

                    <div class="clear"></div><div class="line"></div>
                    
                    
                   <div class="container clearfix">
					<h2>架构说明</h2>
                    <div class="row clearfix">

                        <div class="col-md-6">

                            <h3>就近接入部署</h3>

                            <p>明芳互联目前已经在全球10多个国家和地区设有15个云服务节点，分别在香港、美国、新加坡、台湾、俄罗斯、英国、荷兰、马来西亚、菲律宾、泰国、柬埔寨、越南布有节点，可有效覆盖全球用户，且每个云服务节点均是建立在明芳互联高速传输网络基础之上，能够提供低延时且稳定的网络。移动应用企业可根据自身客户群体地理位置情况选择将应用服务器放置于就近的云服务节点，以提升客户产品使用体验、增强用户黏性。</p>

                        </div>

                        <div class="col-md-6">

                            <h3>高速网关服务器接入</h3>

                            <p>部署在高速网络增强型云服务器上，提供用户注册、身份验证，会话保活等服务，支持高包量多队列并发，大幅提高网络I/O性能，保障用户接入体验。</p>

                        </div>

                    </div>

                </div>
                    
                    </div>
                    
                     <div class="container clearfix"><div class="line"></div>


                    <ul class="clients-grid grid-6 bottommargin clearfix">
                        <li><a href="#"><img src="/images/cs/1.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/4.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/12.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/21.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/2.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/10.jpg" alt="Clients"></a></li>
                        
                    </ul>

                </div>
               </div>

            </div>

        </section><!-- #content end -->