<layout name="common_layout" />

		<section id="slider" class="slider-parallax" style="background: url('/images/slider/banner/data.jpg') no-repeat; background-size: cover" data-height-lg="490" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
        </section>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

				<div class="container clearfix">
					<h2>行业优势</h2>
					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="__PUBLIC__/images/appshowcase/m1.png" alt="Image" class="bottommargin-sm"></a>
						<h4>全球数据中心</h4>
						<p>明芳互联云服务节点遍布全球各地，香港，台湾，新加坡，北美，欧洲，俄罗斯等，客户可便捷的接入当地国家交易平台，跨境业务数据采集</p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="__PUBLIC__/images/appshowcase/m2.png" alt="Image" class="bottommargin-sm"></a>
						<h4>海量数据存储</h4>
						<p>具备多类型网站客户端，APP直接向OSS写入或读取数据，TB，PB级对象存储，高速响应市场数据需求，强大的技术保障让您的数据采集全面真实</p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="__PUBLIC__/images/appshowcase/m3.png" alt="Image" class="bottommargin-sm"></a>
						<h4>降低竞价延迟</h4>
						<p>物理服务器优秀的计算能力，可满足竞价的高性能，低延迟要求，非关联业务放置云端，混合云解决方案有效降低运营成本</p>
					</div>

				</div>
			
				<div class="clear"></div><div class="line"></div>
				
				<div class="container clearfix">
					<h2>行业架构</h2>
					<div class="col_two_third topmargin nobottommargin">
						<img data-animate="fadeInLeft" src="__PUBLIC__/images/solutions/data.png" alt="Game" style="opacity: 0; width: 100%; top: 0; left: 0;" class="fadeInLeft animated">
					</div>


					<div class="col_one_third topmargin nobottommargin col_last">
						<h3>数字营销&大数据解决方案</h3>
						<p>明芳互联依托丰富海外云节点资源，以明芳互联全球高效的计算能力、高速的网络环境、高可用存储质量为平台，能为国内客户快速收集具有高价值海外数据信息，企业对业务数据进行分析处理，通过这些价值化的数据更好的了解海外市场的现状，以做出更好的工作决策。</p>
<h3>使用产品</h3>
<p>
  <img src="__PUBLIC__/images/products/1.jpg" style="width:55px;"> 云主机
<a href="{:U(Product/index)}" class="button button-small button-dark button-rounded"><i class=""></i>查看详情</a>
<a href="/products/cloud/apply.php" class="button button-small button-border button-rounded"><i class=""></i>申请试用</a>
</p>
					</div>

                </div>



                <div class="container clearfix">

                   

                   

                    <div class="clear"></div><div class="line"></div>
                    
                    
                   <div class="container clearfix">
					<h2>架构说明</h2>
                    <div class="row clearfix">

                        <div class="col-md-6">

                            <h3>实时计算</h3>

                            <p>实时计算是大数据处理平台不可或缺的一个能力，目前使用的是一个通用的流式计算平台，提供实时（分钟级、秒级和百毫秒级延迟）的流式数据计算服务。数据流入我们的实时计算系统我们筛选出相关事件日志再将这些日志进行分类聚合，再将这些得到的数据进行业务逻辑计算然后落地。</p>

                        </div>

                        <div class="col-md-6">

                            <h3>缓存服务器</h3>

                            <p>用来衔接各个关键业务组件。 云缓存支持Memcache和Redis协议，通过专业开发团队实现了高读写性能、低访问延时、大容量、高可靠性、高扩展性，并在读写QPS、延时和容量上做了很好的优化。</p>

                        </div>

                    </div>

                </div>
                    
                    </div>
                    
                     <div class="container clearfix"><div class="line"></div>


                    <ul class="clients-grid grid-6 bottommargin clearfix">
                        <li><a href="#"><img src="__PUBLIC__/images/cs/13.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/cs/19.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/cs/20.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/cs/12.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/cs/1.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/cs/4.jpg" alt="Clients"></a></li>
                        
                    </ul>

                </div>
               </div>

            </div>

        </section><!-- #content end -->