<layout name="common_layout" />

		<section id="slider" class="slider-parallax" style="background: url('/images/slider/banner/money.jpg') no-repeat; background-size: cover" data-height-lg="490" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
            
        </section>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

				<div class="container clearfix">
					<h2>行业优势</h2>
					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/images/appshowcase/j1.png" alt="Image" class="bottommargin-sm"></a>
						<h4>安全独立金融机房</h4>
						<p>服务各类型金融机构，从物理服务器层面完全独立于公有云，更等级的DDOS安全防护，符合金融监管安全要求</p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/images/appshowcase/j2.png" alt="Image" class="bottommargin-sm"></a>
						<h4>主副中心容灾能力</h4>
						<p>全球运营15个Tier3以上级别的顶级互联网数据中心，可部署同城，异地跨区的灾备业务架构，应急恢复方案可实现机房层级故障秒级切换，保证业务连续性</p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="/images/appshowcase/j3.png" alt="Image" class="bottommargin-sm"></a>
						<h4>金融客户专属服务</h4>
						<p>技术工程师在方案开始之初就会对现有网络安全规划，潜在问题，改良方案提交专业意见，协助用户云端迁移，7*24小时售后服务保障</p>
					</div>

				</div>
			
				<div class="clear"></div><div class="line"></div>
				
				<div class="container clearfix">
					<h2>行业架构</h2>
					<div class="col_two_third topmargin nobottommargin">
						<img data-animate="fadeInLeft" src="/images/solutions/finance.png" alt="Game" style="opacity: 0; width: 100%; top: 0; left: 0;" class="fadeInLeft animated">
					</div>


					<div class="col_one_third topmargin nobottommargin col_last">
						<h3>跨境金融解决方案</h3>
						<p>明芳互联跨境金融解决方案采用同城异地多重备份的模式，为金融行业提供量身定制的云计算服务，同时兼顾传统金融客户、金融云客户、证券、基金和保险行业客户的需求，选择符合金融行业的高标准要求的Tier3+数据中心的场地，为跨境金融企业提供一个低成本、高弹性、高可用、安全合规的云解决方案，为跨境金融企业壮大推波助澜。</p>
<h3>使用产品</h3>
<p>
  <img src="/images/products/1.jpg" style="width:55px;"> 云主机
<a href="{:U(Product/index)}" class="button button-small button-dark button-rounded"><i class=""></i>查看详情</a>
<a href="/products/cloud/apply.php" class="button button-small button-border button-rounded"><i class=""></i>申请试用</a>
</p>
					</div>

                </div>



                <div class="container clearfix">

                   

                   

                    <div class="clear"></div><div class="line"></div>
                    
                    
                   <div class="container clearfix">
					<h2>架构说明</h2>
                    <div class="row clearfix">

                        <div class="col-md-6">

                            <h3>云服务器镜像</h3>

                            <p>提供高可用功能的云服务器镜像，在快速部署客户应用服务的同时，也可为客户关键业务数据和应用实施可靠保护并执行快速恢复，最大限度地减少因计划内或计划外的系统停机而带来的损失。</p>

                        </div>

                        <div class="col-md-6">

                            <h3>高效云数据库</h3>

                            <p>基于成熟云计算技术提供的高性能数据库服务。支持关系型和非关系型数据库，完全兼容MySQL、MongoDB协议。具有创建管理便捷、运行稳定可靠、数据安全完整等优势，满足互联网应用系统对高性能数据库的架构需求；极大节省自建数据库的高额硬件成本，有效降低数据库搭建管理备份的运维人力投入。助您业务快速上线并稳定安全运行。</p>

                        </div>

                    </div>

                </div>
                    
                    </div>
                    
                     <div class="container clearfix"><div class="line"></div>


                    <ul class="clients-grid grid-6 bottommargin clearfix">
                        <li><a href="#"><img src="/images/cs/2.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/5.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/15.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/16.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/4.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/8.jpg" alt="Clients"></a></li>
                        
                    </ul>

                </div>
               </div>

            </div>

        </section><!-- #content end -->