<layout name="common_layout" />

		<section id="slider" class="slider-parallax" style="background: url('/images/slider/banner/game-bg.jpg') no-repeat; background-size: cover" data-height-lg="490" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
       
        </section>
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

				<div class="container clearfix">
					<h3>行业优势</h3>
					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/images/appshowcase/g1.png" alt="Image" class="bottommargin-sm"></a>
						<h4>全球玩家覆盖</h4>
						<p>明芳互联拥有全球15个数据中心云节点，可使游戏业务快速布局海外国家和市场，包括香港，台湾，东南亚，北美，欧洲等10多个国家和地区</p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/images/appshowcase/g2.png" alt="Image" class="bottommargin-sm"></a>
						<h4>定制专属集群</h4>
						<p>为手游，页游，端游各类型游戏客户提供定制化解决方案和专属服务器集群，全优化网络带宽，保持合理的资源利用率让价格更低</p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="/images/appshowcase/g3.png" alt="Image" class="bottommargin-sm"></a>
						<h4>弹性伸缩扩容</h4>
						<p>玩家数量的激增或减少，均需要对服务器配置以及带宽做出合理的调整。明芳互联在全球的云服务平台均可以依据游戏公司需求灵活弹性变更配置以及带宽</p>
					</div>

				</div>
			
				<div class="clear"></div><div class="line"></div>
				<div class="container clearfix">
					<h3>行业架构</h3>
					<div class="col_two_third topmargin nobottommargin">
						<img data-animate="fadeInLeft" src="/images/solutions/game.png" alt="Game" style="opacity: 0; width: 100%; top: 0; left: 0;" class="fadeInLeft animated">
					</div>


					<div class="col_one_third topmargin nobottommargin col_last">
						<h3>网络游戏解决方案</h3>
						<p>明芳互联依托全球多节点云服务资源优势，结合云服务弹性伸缩的特点，轻松应对突如其来的游戏用户量剧增带给服务器的压力，支持特殊功能的云服务模板定制，提供多场景多类型的游戏部署解决方案，丰富的海外游戏云服务运营经验，帮助中国游戏企业试水海外游戏市场，促进游戏业务布局全球。</p>
<h3>使用产品</h3>
<p>
  <img src="/images/products/1.jpg" style="width:55px;"> 云主机
<a href="{:U(Product/index)}" class="button button-small button-dark button-rounded"><i class=""></i>查看详情</a>
<a href="/products/cloud/apply.php" class="button button-small button-border button-rounded"><i class=""></i>申请试用</a>
</p>
					</div>

                </div>


                <div class="container clearfix">

                    <div class="clear"></div><div class="line"></div>
                    
                    
                   <div class="container clearfix">
					<!-- <h3>架构说明</h3> -->
                    <div class="row clearfix">

                        <div class="col-md-6">

                            <h3>负载均衡</h3>

                            <p>游戏服务端入口处采用负载均衡服务，随着游戏业务量增加，单服承载能力达到上限，随时扩展游戏服数量。明芳互联的负载均衡服务支持4层TCP/UDP，7层http/https，明芳互联云服务器支持服务自身的纵向升配或弹性伸缩， 结合负载均衡业务可以实现基于云服务器构建的应用层水平可自动伸缩架构，使得业务具备灵活多样的伸缩能力。</p>

                        </div>

                        <div class="col-md-6">

                            <h3>分布式部署</h3>

                            <p>可以将游戏服务器分别部署在明芳互联的全球不同地域的云数据中心（如香港、新加坡等），游戏服务器通过明芳互联跨地域高速传输网络连通两个区域的平台数据库，避免公共互联网的抖动和拥塞影响。</p>

                        </div>

                    </div>

                </div>
                    
                    </div>
                    
                     <div class="container clearfix"><div class="line"></div>


                    <ul class="clients-grid grid-6 bottommargin clearfix">
                        <li><a href="#"><img src="/images/cs/6.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/9.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/11.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/images/cs/17.jpg" alt="Clients"></a></li>
                        
                    </ul>

                </div>
               </div>

            </div>

        </section><!-- #content end -->