<layout name="common_layout" />

		<section id="slider" class="slider-parallax" style="background: url('/images/slider/banner/8.jpg') no-repeat; background-size: cover" data-height-lg="490" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
           
        </section>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

				<div class="container clearfix">
					<h2>行业优势</h2>
					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/Theme/static/images/appshowcase/d1.png" alt="Image" class="bottommargin-sm"></a>
						<h4>更顺畅的海外购物体验</h4>
						<p>无论是北美还是欧洲，明芳互联全球云服务节点可以让您的国际电商业务快速部署，最近的在线服务商城，让客户购物更畅快</p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="/Theme/static/images/appshowcase/d2.png" alt="Image" class="bottommargin-sm"></a>
						<h4>从容应对节日大量访问</h4>
						<p>弹性灵活升降硬件配置，即时提升降低性能。自定义镜像功能，可快速实现横向增加服务器，加速新业务上线</p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="/Theme/static/images/appshowcase/d3.png" alt="Image" class="bottommargin-sm"></a>
						<h4>有效降低海外采购成本</h4>
						<p>云服务器按需定制，随用随取，灵活分配，避免一次性采购服务器占用大量资金。一站式服务器运维管理，有效降低IT投入</p>
					</div>

				</div>
				<div class="clear"></div><div class="line"></div>
				<div class="container clearfix">
					<h2>行业架构</h2>
					<div class="col_two_third topmargin nobottommargin">
						<img data-animate="fadeInLeft" src="/Theme/static/images/solutions/web.png" alt="Web" style="opacity: 0; width: 100%; top: 0; left: 0;" class="fadeInLeft animated">
					</div>


					<div class="col_one_third topmargin nobottommargin col_last">
						<h3>电子商务解决方案</h3>
						<p>明芳互联在电子商务行业耕耘多年，专注于为国内电子商务企业、外贸网站提供最佳的海外云服务平台，依托于明芳互联在海外十几个国家和地区的云点资源优势，结合高效、便捷、开放的云计算服务，利用明芳互联云弹性强、效率高、成本低等特点为电子商务企业提供全套的海外电子商务云服务解决方案。使得电商应用拥有专业计算能力支撑的同时，可以更快速响应业务的实时变化，促使中国企业海外业务快速落地。</p>
                                                <h3>使用产品</h3>
						<p>
  <img src="/Theme/static/images/products/1.jpg" style="width:55px;"> 云主机
<a href="{:U(Product/index)}" class="button button-small button-dark button-rounded"><i class=""></i>查看详情</a>
<a href="/products/cloud/apply.php" class="button button-small button-border button-rounded"><i class=""></i>申请试用</a>
</p>
					</div>

                </div>


                <div class="container clearfix">

                   

                   

                    <div class="clear"></div><div class="line"></div>
                    
                    
                   <div class="container clearfix">
						<h2>架构说明</h2>
                    <div class="row clearfix">
						
                        <div class="col-md-6">

                            <h3>弹性扩容</h3>

                            <p>云服务器承接电商业务应用，支持弹性扩容。当大促类业务带来数十倍于平常的流量时，能够根据交易、促销等业务需求的变化动态扩展云服务器配置，以应对推广、促销等业务峰值。</p>

                        </div>

                        <div class="col-md-6">

                            <h3>缓存服务</h3>

                            <p>结构化数据通过云数据库缓存服务，缓存服务器的主备架构，避免会员、订单、商品、库存、促销等核心数据的单点风险，同时缓存服务器能够随着业务量的增长实现热升级。对于电商系统常用的MySQL数据库，使用通用数据导入导出工具即可将数据迁移，实现零迁移成本。</p>

                        </div>

                    </div>

                </div>
                    
                    </div>
                    
                     <div class="container clearfix"><div class="line"></div>


                    <ul class="clients-grid grid-6 bottommargin clearfix">
                        <li><a href="#"><img src="/Theme/static/images/cs/7.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/Theme/static/images/cs/18.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/Theme/static/images/cs/3.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/Theme/static/images/cs/8.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/Theme/static/images/cs/10.jpg" alt="Clients"></a></li>
                        <li><a href="#"><img src="/Theme/static/images/cs/14.jpg" alt="Clients"></a></li>
                        
                    </ul>

                </div>
               </div>

            </div>

        </section><!-- #content end -->