<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>价格计算器</h1>
                <span>Price Calculator</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/products/calc.html">产品&服务</a></li>
                    <li class="active">价格计算器</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

            <iframe frameborder="0" src="./calc/" scrolling="no" width="100%" height="850px"></iframe>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>产品服务</h4>
                                <ul>
                                    <li><a href="{:U('Product/index')}"><div>云主机</div></a></li>
                                    <li><a href="{:U('Product/host')}"><div>独立服务器</div></a></li>
                                    <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                    <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                    <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
                                    <li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>


                                </ul>

                            </div>

                            <include file="Common/hot_news"/>
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
                                                                                                             
        