<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>独立服务器</h1>
                <span>Dedicated Server</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('Product/host')}">产品&服务</a></li>
                    <li class="active">独立服务器</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <div class="col_two_fifth nobottommargin">
                        <a data-lightbox="iframe">
                            <img src="/images/products/2.jpg" alt="Image">
                           
                        </a>
                    </div>
                    
                    
                    
                    <div class="col_three_fifth nobottommargin col_last">

                        
                            <h3>独立服务器 Dedicated Server</h3>
                        

                        <p>明芳互联作为领先的海外云服务器提供商，为响应我们的客户对传统物理服务器的需求，提供最卓越的计算性能，满足核心应用场景对高性能及稳定性的需求，同时可以和其他云产品灵活结合使用。</p>

                        <a href="/products/dedicated/hk.html" class="button button-small button-dark button-rounded"><i class=""></i>查看价格</a>
                                 
                    </div>                       


                    <div class="divider"><i class=""></i></div>

         <!--            <h3>Bootstrap Tabs</h3>     -->

                        <ul id="myTab" class="nav nav-tabs boot-tabs">
                          <li class="active"><a href="#you" data-toggle="tab">优势</a></li>
                          <li><a href="#" data-scrollto="#tui">推荐配置</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade in active" id="you">
                            <h3>优势：</h3>
                            <h4>性能卓越：</h4>
                            <p>采用高规格硬件与I/O设备的专属物理主机，提供卓越的服务器性能，满足您高性能应用场景的需求。</p>
                            <h4>一站式服务：</h4>
                            <p>一站式业务受理，合同签署，费用结算以及全球统一售后服务呼叫中心技术支持，多渠道沟通，7x24小时随时服务。</p>
                            <h4>海外运营经验：</h4>
                            <p>明芳互联多年专业海外运营经验，建立了完善的IDC数据中心供应链，强大业务支撑体系为我们客户业务保驾护航。</p>
                            <h4>安全稳定：</h4>
                            <p>网络多链路与隔离技术保障内外安全，RAID备份提供数据冗余技术维护数据无忧。</p>
                            <h4>混合云架构：</h4>
                            <p>独立服务器与云服务器产品无缝接入，满足客户不同业务对性能和数据安全性的需求。</p>
                            <h4>高速带宽：</h4>
                            <p>互联网数据中心提供优质带宽及国内专线连接。直连国际及本地主要网络商，确保客户享有高品质的网络出口速度。</p>

                          </div>
                            <h3 id="tui">推荐配置</h3>
                                                        <div class="col_half">

                                                          <div style="float: left;margin: 0 10px 0 0;">
                                                                <img src="/images/products/pc.jpg" style="width: 130px;">
                                                          </div>
                                                          <div>
                                                          <ul style="list-style: none;">
                                                          <li>CPU: 1 x E5620</li>
                                                          <li>内存: 8GB DDR3</li>
                                                          <li>硬盘: 1TB 企业级SATA</li>
                                                          <li>带宽: 10Mbps独享国际带宽</li>
                                                          <li>IP数量: 2</li>
                              <li>机房: 香港</li>
                                                          <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 1539/月</span></li>
                                                          </ul>
                                                          </div>
                                                        </div>
                                                        <div class="col_half col_last">

                                                          <div style="float: left;margin: 0 10px 0 0;">
                                                                <img src="/images/products/pc.jpg" style="width: 130px;">
                                                          </div>
                                                          <div>
                                                          <ul style="list-style: none;">
                                                          <li>CPU: 1 x E3-1230</li>
                                                          <li>内存: 8GB DDR3</li>
                                                          <li>硬盘: 1TB 企业级SATA</li>
                                                          <li>带宽: 5Mbps独享国际带宽</li>
                                                          <li>IP数量: 2</li>
                                                          <li>机房: 新加坡</li>
                                                          <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 2099/月</span></li>
                                                          </ul>
                                                          </div>
                                                        </div>
                                                        <div class="col_half">

                                                          <div style="float: left;margin: 0 10px 0 0;">
                                                                <img src="/images/products/pc.jpg" style="width: 130px;">
                                                          </div>
                                                          <div>
                                                          <ul style="list-style: none;">
                                                          <li>CPU: 1 x E5620</li>
                                                          <li>内存: 8GB DDR3</li>
                                                          <li>硬盘: 1TB 企业级SATA</li>
                                                          <li>带宽: 10Mbps独享国际带宽</li>
                                                          <li>IP数量: 2</li>
                                                          <li>机房: 香港</li>
                                                          <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 1539/月</span></li>
                                                          </ul>
                                                          </div>
                                                        </div>
                                                        <div class="col_half col_last">

                                                          <div style="float: left;margin: 0 10px 0 0;">
                                                                <img src="/images/products/pc.jpg" style="width: 130px;">
                                                          </div>
                                                          <div>
                                                          <ul style="list-style: none;">
                                                          <li>CPU: 2 x E5620</li>
                                                          <li>内存: 16GB DDR3</li>
                                                          <li>硬盘: 500GB 企业级SATA</li>
                                                          <li>带宽: 100M带宽 10TB月流量</li>
                                                          <li>IP数量: 5</li>
                                                          <li>机房: 美国</li>
                                                          <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 2299/月</span></li>
                                                          </ul>
                                                          </div>
                                                        </div>

                          
                        </div>

                        <div class="line"></div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>产品服务</h4>
                                <ul>
                                    <li><a href="{:U('Product/index')}"><div>云主机</div></a></li>
                                    <li><a href="{:U('Product/host')}"><div>独立服务器</div></a></li>
                                    <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                    <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                    <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
                                    <li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>


                                </ul>

                            </div>

                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                                    <include file="Common/hot_news"/>                                                                   
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
                                                                                                             
        