<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>云主机</h1>
                <span>Cloud Server</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U(Product/index)}">产品&服务</a></li>
                    <li class="active">云主机</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <div class="col_two_fifth nobottommargin">
                        <a data-lightbox="iframe">
                            <img src="/images/products/1.jpg" alt="Image">
                           
                        </a>
                    </div>
                    
                    
                    
                    <div class="col_three_fifth nobottommargin col_last">

                        
                            <h3>云主机 Cloud Server</h3>
                        

                        <p>云主机（Cloud Server），是明芳互联依托成熟的云计算技术、高性能基础设施、以及优质的网络带宽和高品质的数据中心等资源，所提供的安全稳定、快速部署、弹性扩展、管理便捷的计算单元。</p>

                        <a href="cloud/hk.html" class="button button-small button-dark button-rounded"><i class=""></i>查看价格</a>
                        <a href="cloud/apply.php" class="button button-small button-border button-rounded"><i class=""></i>申请试用</a>
                        <a href="calc.html"> 价格计算器</a>
                        
                                 
                    </div>                       


                    <div class="divider"><i class=""></i></div>

         <!--            <h3>Bootstrap Tabs</h3>     -->

                        <ul id="myTab" class="nav nav-tabs boot-tabs">
                          <li class="active"><a href="#you" data-toggle="tab">优势</a></li>
                          <li><a href="#" data-scrollto="#tui">推荐配置</a></li>
              <li><a href="#" data-scrollto="#dui">产品对比</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade in active" id="you">
                            <h3>优势：</h3>
                            <h4>多节点：</h4>
                            <p>云服务节点覆盖全球15个国家和地区，包括中国香港、台湾、美国、新加坡、马来西亚、越南、泰国，英国、荷兰、俄罗斯等</p>
                            <h4>超级芯：</h4>
                            <p>全线配备最具性能的E5系列CPU，高频DDR4内存，结合与AWS同基因的Xen硬件虚拟化技术，自由灵活依需定制，多版本系统支持任意选择。</p>
                            <h4>易控制：</h4>
                            <p>匠心独具，明芳互联云精简版独立控制面板，去除复杂的产品定义，账务管理，仅保留云主机常用核心维护功能，删繁从简。</p>
                            <h4>好口碑：</h4>
                            <p>众多客户使用并信赖明芳互联云主机，据统计明芳互联云大约40%的业务增长量是由现有客户介绍而来，好产品好服务自然口口相传，感谢成长的路上有你相陪。</p>
                            <h4>比服务：</h4>
                            <p>明芳互联云建立了全面细致的售后服务体系，7*24小时技术支援，15项免费服务器代维护，大客户服务专线。这都还不够，我们将持续努力，需要与用户一起见证。</p>
                            <h4>免费试：</h4>
                            <p>标准7天免费试用时长所要的不仅仅是试网络，试品质，更重要的是试服务，试交流，试信任。用户的信赖是对我们最大的褒奖。</p>

                        <h3 id="tui">推荐配置</h3>
                            <div class="col_half">
  
                              <div style="float: left;margin: 0 10px 0 0;">
                                <img src="/images/products/pc.jpg" style="
    width: 130px;
">
                              </div>
                              <div>
                              <ul style="list-style: none;">
                              <li>CPU: 1核</li>
                              <li>内存: 1G</li>
                              <li>带宽: 2M</li>
                                <li>位置: 香港</li>
                              <li>适用: 网络游戏，大数据营销</li>
                              <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 170/月</span></li>
                              </ul>
                              </div>
                            </div>
                            <div class="col_half col_last">
  
                              <div style="float: left;margin: 0 10px 0 0;">
                                <img src="/images/products/pc.jpg" style="
    width: 130px;
">
                              </div>
                              <div>
                              <ul style="list-style: none;">
                              <li>CPU: 2核</li>
                              <li>内存: 2G</li>
                              <li>带宽: 3M</li>
                                <li>位置: 美国</li>
                              <li>适用: 外贸网站，电商网站</li>
                              <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 280/月</span></li>
                              </ul>
                              </div>
                            </div>
                                                        <div class="col_half">

                                                          <div style="float: left;margin: 0 10px 0 0;">
                                                                <img src="/images/products/pc.jpg" style="width: 130px;">
                                                          </div>
                                                          <div>
                                                          <ul style="list-style: none;">
                                                          <li>CPU: 1核</li>
                                                          <li>内存: 1G</li>
                                                          <li>带宽: 2M</li>
                                                          <li>位置: 新加坡</li>
                                                          <li>适用: 跨境金融，Saas服务</li>
                                                          <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 298/月</span></li>
                                                          </ul>
                                                          </div>
                                                        </div>
                                                        <div class="col_half col_last">

                                                          <div style="float: left;margin: 0 10px 0 0;">
                                                                <img src="/images/products/pc.jpg" style="width: 130px;">
                                                          </div>
                                                          <div>
                                                          <ul style="list-style: none;">
                                                          <li>CPU: 2核</li>
                                                          <li>内存: 2G</li>
                                                          <li>带宽: 3M</li>
                                                          <li>位置: 台湾</li>
                                                          <li>适用: 手机游戏，移动APP</li>
                                                          <li><span style="font-size: 20px;color: #1ABC9C;font-weight: bold;">￥ 380/月</span></li>
                                                          </ul>
                                                          </div>
                                                        </div>

                        <h3 id="dui">产品对比</h3>
                        <div class="col_full">
                                                  <table class="table table-bordered">
                            <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th>云服务器</th>
                              <th>传统服务器</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td rowspan="3">节约成本</td>
                              <td>购买成本</td>
                              <td>远低于独立服务器市场价格</td>
                              <td>一次性投入巨大，闲置浪费情况严重</td>
                            </tr>
                            <tr>
                              <td>使用成本</td>
                              <td>使用成本门槛低</td>
                              <td>使用成本门槛高</td>
                            </tr>
                            <tr>
                              <td>维护成本</td>
                              <td>专业服务团队免费维护</td>
                              <td>自行维护，成本高</td>
                            </tr>
                            <tr>
                              <td rowspan="3">操作管理</td>
                              <td>易管理性</td>
                              <td>提供远程控制台，集中管理各节点云服务器</td>
                              <td>需远程控制卡，无法实现统一管理</td>
                            </tr>
                            <tr>
                              <td>操作系统</td>
                              <td>可在线更换系统</td>
                              <td>无法在线更换操作系统，需要用户自己重装</td>
                            </tr>
                            <tr>
                              <td>网络管理</td>
                              <td>网络在线管理，简单方便</td>
                              <td>没有在线管理工具、维护困难</td>
                            </tr>
                            <tr>
                              <td rowspan="3">容灾备份</td>
                              <td>备份写入</td>
                              <td>每份数据3份副本，单份损坏可在短时间内快速恢复</td>
                              <td>用户自行搭建，使用传统存储设备，价格高昂</td>
                            </tr>
                            <tr>
                              <td>快照备份</td>
                              <td>用户自定义快照数</td>
                              <td>数据损坏需用户自己修复</td>
                            </tr>
                            <tr>
                              <td>故障恢复</td>
                              <td>快速自动故障恢复</td>
                              <td>没有提供快照功能，无法做到自动故障恢复</td>
                            </tr>
                            <tr>
                              <td rowspan="4">安全可靠</td>
                              <td>MAC/ARP</td>
                              <td>有效阻止MAC欺骗和ARP攻击</td>
                              <td>很难阻止MAC欺骗和ARP攻击</td>
                            </tr>
                            <tr>
                              <td>DDOS</td>
                              <td>有效防护DDOS攻击，可进行流量清洗和黑洞监控</td>
                              <td>清洗和监控设备需要另外购买，价格昂贵</td>
                            </tr>
                            <tr>
                              <td>端口防入侵</td>
                              <td>完善的端口入侵扫描、挂马扫描、漏洞扫描等附加服务</td>
                              <td>普遍存在漏洞、挂马和端口扫描等问题</td>
                            </tr>
                            <tr>
                              <td>性能保障</td>
                              <td>只有0.01%宕机率，性能同物理服务器</td>
                              <td>容易出现宕机</td>
                            </tr>
                            <tr>
                              <td rowspan="3">扩展灵活</td>
                              <td>部署时间</td>
                              <td>即时，数分钟</td>
                              <td>数天至数周</td>
                            </tr>
                            <tr>
                              <td>配置升级</td>
                              <td>CPU、硬盘、内存、带宽可单项升降自由</td>
                              <td>一次性购买，无法自由扩展</td>
                            </tr>
                            <tr>
                              <td>弹性管理</td>
                              <td>按需购买，弹性付费，灵活应对业务变化</td>
                              <td>无法按需购买，容易造成资源不足与资源浪费</td>
                            </tr>
                            </tbody>
                                                  </table>
                        </div>
                          
                          </div>
                        </div>

                        <div class="line"></div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>产品服务</h4>
                                <ul>
                                    <li><a href="{:U('Product/index')}"><div>云主机</div></a></li>
                                    <li><a href="{:U('Product/host')}"><div>独立服务器</div></a></li>
                                    <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                    <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                    <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
                                    <li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>


                                </ul>

                            </div>

                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                               <include file="Common/hot_news"/>                                                                      
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
                                                                                                             