<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>云负载均衡</h1>
                <span>Cloud Load Balancer</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('Product/lb')}">产品&服务</a></li>
                    <li class="active">云负载均衡</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <div class="col_two_fifth nobottommargin">
                        <a href="#" data-lightbox="iframe">
                            <img src="__PUBLIC__/images/products/4.jpg" alt="Image">
                           
                        </a>
                    </div>
                    
                    
                    
                    <div class="col_three_fifth nobottommargin col_last">

                        
                            <h3>云负载均衡 Cloud Load Balancer</h3>
                        

                        <p>云负载均衡（Cloud Load Balancer）是负载均衡服务，即在多台云主机间实现应用程序流量的自动分配。可实现故障自动切换，提高业务可用性，并提高资源利用率。</p>

                        <a href="cloud/apply.html" class="button button-small button-dark button-rounded"><i class=""></i>立即开通</a>
                                 
                    </div>


                    <div class="divider"><i class=""></i></div>

         <!--            <h3>Bootstrap Tabs</h3>     -->

                        <ul id="myTab" class="nav nav-tabs boot-tabs">
                          <li class="active"><a href="#you" data-toggle="tab">优势</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="you">
                                <h3>优势：</h3>
                                <h4>实现流量均衡：</h4>
                                <p>支持HTTP和TCP协议，根据转发规则将业务流量分配给后端业务主机。</p>
                                <h4>异常自动切换：</h4>
                                <p>根据规则对后端业务服务器进行健康检查，自动隔离异常主机，一旦发现问题，迅速将问题主机切换，确保服务可用性。</p>
                                <h4>会话保持：</h4>
                                <p>提供HTTP会话保持功能。开启会话保持后，能根据用户的特征，将其请求转发到特定主机上，符合特征的用户，后续请求保持和该台主机绑定。支持服务端插入cookie和用户指定cookie两种方式。</p>
                                <h4>安全稳定：</h4>
                                <p>使用了热备切换，并结合了分布式的架构，保证云负载均衡本身的高可用性。</p>

                            </div>
                          
                        <div class="tab-pane fade" id="tui">
                            推荐配置
                        </div>
                        
                        <div class="tab-pane fade" id="dui">
                            产品对比
                        </div>
                          
                        </div>

                        <div class="line"></div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>产品服务</h4>
                                <ul>
                                    <li><a href="{:U('Product/index')}"><div>云主机</div></a></li>
                                    <li><a href="{:U('Product/host')}"><div>独立服务器</div></a></li>
                                    <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                    <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                    <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
                                    <li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>


                                </ul>

                            </div>

                            <include file="Common/hot_news"/>
                         
                            <include file="Common/tag"/>
                         
                        </div>
                    </div><!-- .sidebar end -->
                         
                </div>
                         
                  </div>
        </section><!-- #content end -->