<layout name="common_layout" />
        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>跨境专线</h1>
                <span>International Private Leased Circuit</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/products/line.html">产品&服务</a></li>
                    <li class="active">跨境专线</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <div class="col_two_fifth nobottommargin">
                        <a href="#" data-lightbox="iframe">
                            <img src="/images/products/6.jpg" alt="Image">
                           
                        </a>
                    </div>
                    
                    
                    
                    <div class="col_three_fifth nobottommargin col_last">

                        
                            <h3>跨境专线 International Private Leased Circuit</h3>
                        

                        <p>跨境专线是以香港充足的国际带宽资源为跳板，将所有出境外数据通过明芳互联独享国际专线进行数据传输，不经过中国互联网国际出口，绕过国际互联网出口瓶颈，保障数据交互平均传输延迟在20ms左右，数据包丢包率小于万分之一。从根本上确保跨国经营企业数据交互通畅，而实施成本仅为直接租用国际数据专线费用的几分之一，拥有良好的性能价格比。万兆光纤直连机柜主交换机，带宽可用率保证99.99%以上，解决国内专线客户访问国外网络不稳定或速度慢的问题。</p>

                        <a href="cloud/apply.html" class="button button-small button-dark button-rounded"><i class=""></i>立即开通</a>
                                 
                    </div>                       


                    <div class="divider"><i class=""></i></div>

         <!--            <h3>Bootstrap Tabs</h3>     -->

                        <ul id="myTab" class="nav nav-tabs boot-tabs">
                          <li class="active"><a href="#you" data-toggle="tab">优势</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="you">

                                <h4>跨境高速网络体验：</h4>
                                <p>国际互联网络访问极致加速，完美解决内地普通网络访问香港、美国、欧洲等地较慢的问题</p>
                                <h4>香港公网：</h4>
                                <p>可提供香港公网固定IP，以香港出口访问国际网络，智能、快速，线路稳定，网络质量高</p>
                                <h4>数据加密：</h4>
                                <p>安全加密访问，突破内地对网络的监管，顺利访问境外网站，发往海外的邮件与订单不再受限</p>
                                <h4>简单操作：</h4>
                                <p>无需改变原有的上网方式，快速便捷，可随时切换节点，保证网络连通质量，线路稳定</p>
                            
                                <p></p>

                                </div>
                          
                        <div class="tab-pane fade" id="tui">
                            推荐配置
                        </div>
                        
                        <div class="tab-pane fade" id="dui">
                            产品对比
                        </div>
                          
                        </div>

                        <div class="line"></div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>产品服务</h4>
                                <ul>
                                    <li><a href="{:U('Product/index')}"><div>云主机</div></a></li>
                                    <li><a href="{:U('Product/host')}"><div>独立服务器</div></a></li>
                                    <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                    <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                    <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
                                    <li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>


                                </ul>

                            </div>

                            <include file="Common/hot_news"/>
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
