<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>云代维</h1>
                <span>Cloud Butler Service</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('Product/ops')}">产品&服务</a></li>
                    <li class="active">云代维</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <div class="col_two_fifth nobottommargin">
                        <a href="#" data-lightbox="iframe">
                            <img src="__PUBLIC__/images/products/5.jpg" alt="Image">
                           
                        </a>
                    </div>
                    
                    
                    
                    <div class="col_three_fifth nobottommargin col_last">

                        
                            <h3>云代维 Cloud Butler Service</h3>
                        

                        <p>云代维从您企业IT规划开始，覆盖IT架构设计、系统实施、调试验收、运维管理、问题分析、系统优化，覆盖IT系统全生命周期，帮助用户轻松搞定IT管理，从而专注于使用IT改善企业核心业务。</p>

                        <a href="cloud/apply.html" class="button button-small button-dark button-rounded"><i class=""></i>立即开通</a>
                                 
                    </div>


                    <div class="divider"><i class=""></i></div>

         <!--            <h3>Bootstrap Tabs</h3>     -->

                        <ul id="myTab" class="nav nav-tabs boot-tabs">
                          <li class="active"><a href="#you" data-toggle="tab">优势</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="you">
                                <h3>优势：</h3>
                                <h4>全面服务：</h4>
                                <p>资深的运维工程师为客户提供优质高效的代维服务，包括服务配置、系统性能优化、监控、故障诊断等一系列代维服务。</p>
                                <h4>专业团队：</h4>
                                <p>一支平均IT实施经验超过6年的系统、网络数据专家团队，将根据设计的基础架构方案，为您快速、专业地部署实施。</p>
                                <h4>服务意识：</h4>
                                <p>以丰富的技术经验、良好的专业素养和服务意识，为客户量身打造更适合用户的服务和解决方案，精准、快速、有效的帮助客户解决问题。建立起一套完善的监视系统及服务体系，能够为客户提供一整套完善的技术咨询、系统解决方案等服务支持，最大限度的满足用户的需求。</p>
                                <h4>部分代维服务列表：</h4>
                                <p>● 服务器维护建议● 服务器操作系统补丁更新● 内核的安装● 更新源</p>
                                <p>● 优化云服务器系统服务● 云服务器维护建议● 云服务器灾备方案</p>
                                <p>● 配置iptable防火墙● 提供阻止入侵方案● 针对性服务器系统安全防护策略</p>
                                <p>● 配置计划任务并定期备份本地数据● 无缝移机● 重要数据异地备份方案</p>
                                <p>● FTP平台的搭建● Samba平台的搭建● Apache常用环境的搭建</p>
                                <p>● MySQL, MSSQL数据库环境搭建● Mail系统的搭建以及使用说明</p>
                                <p>● VPN 系统的搭建与使用说明● LVS网络优化搭建以及使用说明</p>
                                <p>● Cacti, Nagios, Zabbix服务器监控方案</p>
                                <p></p>

                            </div>
                        <div class="tab-pane fade" id="tui">
                            推荐配置
                        </div>
                        
                        <div class="tab-pane fade" id="dui">
                            产品对比
                        </div>
                          
                        </div>

                        <div class="line"></div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>产品服务</h4>
                                <ul>
                                    <li><a href="{:U('Product/index')}"><div>云主机</div></a></li>
                                    <li><a href="{:U('Product/host')}"><div>独立服务器</div></a></li>
                                    <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                    <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                    <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
                                    <li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>


                                </ul>

                            </div>

                            <include file="Common/hot_news"/>
                         
                            <include file="Common/tag"/>
                         
                        </div>
                    </div><!-- .sidebar end -->
                         
                </div>
                         
                  </div>
        </section><!-- #content end -->
                         
                         