<layout name="common_layout" />

        
		<!-- Page Title
        ============================================= -->
        
		<section id="page-title">

           
			<div class="container clearfix">
                
                <h1>菲律宾云服务器价格</h1>
                
                <span>Philippines Cloud Server Pricing</span>
               
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    
                    <li><a href="{:U('Product/index')}">产品&服务</a></li>
                    
                    <li class="active">菲律宾云服务器价格</li>
                
                </ol>
            
			</div>

        
		</section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!--

                    <div class="fancy-title title-dotted-border title-center">
                        <h3>4 Columns</h3>
                    </div>

                     -->

                    <div class="pricing bottommargin clearfix">

                        <div class="col-md-3">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>影云A型</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&yen;</span>295<span class="price-tenure">/月</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>CPU ：1 core</li>
                                        <li>内存：1 GB</li>
                                        <li>硬盘：30 GB</li>
                                        <li>带宽：2 M</li>
                                        <li>IP数量：1  </li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="apply.php" class="btn btn-danger btn-block btn-lg">立即申请</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="pricing-box best-price">
                                <div class="pricing-title">
                                    <h3>影云S型</h3>
                                    <span>最抢手</span>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&yen;</span>600<span class="price-tenure">/月</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>CPU ：2 core</li>
                                        <li>内存：2 GB</li>
                                        <li>硬盘：60 GB</li>
                                        <li>带宽：3 M</li>
                                        <li>IP数量：1  </li>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="apply.php" class="btn btn-danger btn-block btn-lg bgcolor border-color">立即申请</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>影云X型</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&yen;</span>1615<span class="price-tenure">/月</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>CPU ：4 core</li>
                                        <li>内存：8 GB</li>
                                        <li>硬盘：300GB</li>
                                        <li>带宽：5 M</li>
                                        <li>IP数量：1  </li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="apply.php" class="btn btn-danger btn-block btn-lg">立即申请</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>影云Y型</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&yen;</span>2980<span class="price-tenure">/月</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>CPU ：8 core</li>
                                        <li>内存：16 GB</li>
                                        <li>硬盘：500GB</li>
                                        <li>带宽：5 M</li>
                                        <li>IP数量：1  </li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="apply.php" class="btn btn-danger btn-block btn-lg">立即申请</a>
                                </div>
                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </section><!-- #content end -->


<div class="promo topmargin-lg promo-border bottommargin-lg promo-full">
                    <div class="container clearfix">
                    
                     <a href="/products/calc.html" class="button button-xlarge button-rounded">价格计算器</a>
                        <h3>除以上推荐配置外，云主机均可根据客户实际需求弹性配置</h3>
                       
                    </div>
                </div>



<div class="section">

                    <div class="container clear-bottommargin clearfix">

                        <div class="heading-block center">
                            <h2>菲律宾云节点优势</h2>
                            <span>The advantage of Philippines cloud site</span>
                        </div>

                        <div class="row">

                            <div class="col-md-4 bottommargin">
                                <img data-animate="fadeInLeftBig" src="__PUBLIC__/images/services/rack.png" class="center-block">
                            </div>

                            <div class="col-md-4 col-sm-6 topmargin bottommargin">

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-monitor"></i></a>
                                        </div>
                                        <h3>高速度</h3>
                                        <p>菲律宾云主机节点在首都马尼拉，中立电信机房，数据中心总面积37500平方尺，获得ISO 27001（ISMS）认证，PLDT国际海缆直连东南亚其他国家和地区。</p>
                                    </div>

                                </div>

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-eye"></i></a>
                                        </div>
                                        <h3>超级芯</h3>
                                        <p>全线配备最具性能的E5系列CPU，高频DDR4内存，结合与AWS同基因的Xen硬件虚拟化技术，自由灵活依需定制，多版本系统支持任意选择。</p>
                                    </div>

                                </div>

                                <div class="col_full nobottommargin">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-power"></i></a>
                                        </div>
                                        <h3>免备案</h3>
                                        <p>明芳互联是国内极少数专业聚焦海外云服务的企业之一，多年来孜孜不倦，千雕百啄，倾心打造最具品质的海外云服务平台，与众多客户一起布局海外，共同成长。</p>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-4 col-sm-6 topmargin bottommargin">

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-layers"></i></a>
                                        </div>
                                        <h3>易控制</h3>
                                        <p>匠心独具，明芳互联云精简版独立控制面板，去除复杂的产品定义，账务管理，仅保留云主机常用核心维护功能，删繁从简。</p>
                                    </div>

                                </div>

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-star"></i></a>
                                        </div>
                                        <h3>好口碑</h3>
                                        <p>众多客户使用并信赖明芳互联主机，据统计明芳互联大约40%的业务增长量是由现有客户介绍而来，好产品好服务自然口口相传，感谢成长的路上有你相陪。</p>
                                    </div>

                                </div>

                                <div class="col_full nobottommargin">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-anchor"></i></a>
                                        </div>
                                        <h3>比服务</h3>
                                        <p>明芳互联建立了全面细致的售后服务体系，7*24小时技术支援，15项免费服务器代维护，大客户服务专线。这都还不够，我们将持续努力，需要与用户一起见证。</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

				<include file="Common/hot_news2" />

