<layout name="tab_add_layout" />
<div class="crumb-wrap">
	<div class="crumb-list">
		<i class="icon-font"></i>
		<a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span>
		<a class="crumb-name" href="{:U('index')}">{$ur_here}</a><span class="crumb-step">&gt;</span><span>{:L('add')}</span>
	</div>
</div>
<div class="result-wrap">
	<div class="result-content">
		<ul class="nav nav-tabs" role="tablist" id="myTab">
			<li class="active"><a href="#general" role="tab" data-toggle="tab">{:L('tab_general')}</a></li>
			<li><a href="#detail" role="tab" data-toggle="tab">{:L('tab_content')}</a></li>
		</ul>

		<form action="{:U('insert')}/index.php/Mall/Generate/insert.html" method="post" id="myform" name="myform" enctype="multipart/form-data">
		<div class="tab-content">
			<div class="tab-pane active" id="general">
				<table class="insert-tab" width="100%">
					<tbody>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('album_id')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[album_id]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('name')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[name]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('desc')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[desc]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('region')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[region]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('zone')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[zone]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('location')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[location]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('is_hot')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[is_hot]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('create_time')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[create_time]" size="50" value="" type="text">
							</td>
						</tr>

						<tr>
							<th width="150"><i class="require-red">*</i>{:L('status')}:</th>
							<td>
								<input class="common-text required" id="title" name="data[status]" size="50" value="" type="text">
							</td>
						</tr>
						<tr>
							<th></th>
							<td>
								<input class="btn btn-primary btn6 mr10" value="{:L('button_submit')}" type="submit">
								<input class="btn btn6" onclick="history.go(-1)" value="{:L('button_return')}" type="button">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane" id="detail">
				<table class="insert-tab" width="90%" id="detail-table">
					<tr>
						<td><div class="col-md-9"> 
							<script id="rich_text_area" name="content" type="text/plain" style="width:810px; height:360px;"></script> 
						</div></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</div>