<layout name="index_layout" />

<if condition="$full_page">
<div class="crumb-wrap">
	<div class="crumb-list"><i class="icon-font"></i><a href="/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">{$ur_here}</span></div>
</div>
<div class="search-wrap">
	<div class="search-content">
		<form action="" method="post">
			<table class="search-tab">
				<tr>
					<th width="70">{:L('keyword')}:</th>
					<td><input class="common-text" placeholder="关键字" name="keyword" value="" id="" type="text"></td>
					<td><input class="btn btn-primary btn2" name="sub" value="{:L('button_search')}" type="submit"></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<div class="result-wrap">
	<form name="myform" id="myform" method="post">
		<div class="result-content" id="listDiv">
</if>
			<table class="result-tab" width="100%">
				<tr>
					<th class="tc" width="5%"><input class="allChoose" name="" id='check' type="checkbox"></th>

					<th><center><a href="javascript:listTable.sort('name'); ">{:L('name')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('region'); ">{:L('region')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('zone'); ">{:L('zone')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('location'); ">{:L('location')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('is_hot'); ">{:L('is_hot')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('create_time'); ">{:L('create_time')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('status'); ">{:L('status')}</a></center></th>
					<th>操作</th>
				</tr>
				<volist name="list" id="vo">
				<tr>
					<td class="tc">
						<input name="ids[]" value="$vo['id']" class="check" type="checkbox">
					</td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_name', {$vo['id']})">{$vo['name']}</span></center></td>


					<td><center>{$vo['region']}</center></td>

					<td><center>{$vo['zone']}</center></td>

					<td><center>{$vo['location']}</center></td>
					<td><center><span onclick="javascript:listTable.edit(this, 'edit_is_hot', {$vo['id']})">{$vo['is_hot']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_create_time', {$vo['id']})">{$vo['create_time']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_status', {$vo['id']})">{$vo['status']}</span></center></td>
					<td><center>
						<a class="link-update" href="{:U('edit', array('id'=>$vo['id']))}">{:L('edit')}</a>
						<a class="link-del" onclick="return confirm('{:L('remove_confirm')}');" href="{:U('del', array('id'=>$vo['id']))}">{:L('remove')}</a>
					</center></td>
				</tr>
				</volist>
			</table>
<if condition="$full_page">
			<include file="Common/page" />
		</div>
		<div class="list_act_div">
			<a href="{:U('add')}" class="btn btn-primary btn2"><i class="icon-font"></i>{:L('add')}</a>
			<input name="remove" type="submit" id="btnSubmit" value="{:L('remove')}" class="btn btn-default" disabled="true" onclick="this.form.target = '_self'" />
			<input name="batch" type="hidden" value="1" />
		</div>
	</form>
</div>
</if>