<layout name="edit_layout" />
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="/admin">首页</a><span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="{:U('index')}">{$ur_here}</a><span class="crumb-step">&gt;</span><span>{:L('edit')}</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="{:U('update')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <table class="insert-tab" width="100%">
                <tbody>
                
                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('name')}:</th>
                        <td>
                            <input class="input-sm" name="data[name]" size="50" value="{$info['name']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('type')}:</th>
                        <td>
                            <input class="input-sm" name="data[type]" size="50" value="{$info['type']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('idc_id')}:</th>
                        <td>
                            <div class="col-md-3">
                              <select name='data[idc_id]' class="form-control">
                                {$idc_option}
                              </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('price_month')}:</th>
                        <td>
                            <input class="input-sm" name="data[price_month]" size="50" value="{$info['price_month']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('price_year')}:</th>
                        <td>
                            <input class="input-sm" name="data[price_year]" size="50" value="{$info['price_year']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('cpu')}:</th>
                        <td>
                            <input class="input-sm" name="data[cpu]" size="50" value="{$info['cpu']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('memory')}:</th>
                        <td>
                            <input class="input-sm" name="data[memory]" size="50" value="{$info['memory']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('disk')}:</th>
                        <td>
                            <input class="input-sm" name="data[disk]" size="50" value="{$info['disk']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('suitable')}:</th>
                        <td>
                            <input class="input-sm" name="data[suitable]" size="50" value="{$info['suitable']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('bandwidth')}:</th>
                        <td>
                            <input class="input-sm" name="data[bandwidth]" size="50" value="{$info['bandwidth']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('status')}:</th>
                        <td>
                            <div class="make-switch" data-on="primary" data-off="info" data-on-label="{:L('status_yes')}" data-off-label="{:L('status_no')}" >
                                <input name="data[status]" type="checkbox" <notempty name="info['status']">checked</notempty> />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('desc')}:</th>
                        <td>
                            <div class="col-md-6"><textarea name="data[desc]" cols="50"  rows="7" class="form-control input-sm">{$info['desc']}</textarea></div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="hidden" name="id" value="{$info['id']}" />
                            <input class="btn btn-primary btn6 mr10" value="{:L('button_submit')}" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="{:L('button_return')}" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>