<layout name="tab_edit_layout" />
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="/admin">首页</a><span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="{:U('index')}">{$ur_here}</a><span class="crumb-step">&gt;</span><span>{:L('edit')}</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="{:U('update')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <table class="insert-tab" width="100%">
                <tbody>
                
                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('album_id')}:</th>
                        <td>
                            <div class="col-md-3">
                              <select name='data[album_id]' class="form-control">
                                {$album_option}
                              </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('title')}:</th>
                        <td>
                            <input class="input-sm" name="data[title]" size="50" value="{$info['title']}" type="text">
                        </td>
                    </tr>
                    
                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('relate_page')}:</th>
                        <td>
                            <input class="input-sm" name="data[relate_page]" size="50" value="{$info['relate_page']}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('path')}:</th>
                        <td>
                            <div class="col-md-4">
                                <input type="file" name="image_file" class="form-control input-sm"/>
                            </div>

                            <div class="col-md-1">
                                <div> <img src="__UPLOAD__/{$info['path']}" border="0" style="max-width:320px; max-height:320px;" /> </div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <th width="150"><i class="require-red">*</i>{:L('desc')}:</th>
                        <td>
							<div class="col-md-6"><textarea name="data[desc]" cols="50"  rows="7" class="form-control input-sm">{$info['desc']}</textarea></div>
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <input type="hidden" name="id" value="{$info['id']}" />
                            <input class="btn btn-primary btn6 mr10" value="{:L('button_submit')}" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="{:L('button_return')}" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>