<layout name="common_layout" />
        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>人才招聘</h1>
                <span>Employment</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('About/about')}">关于我们</a></li>
                    <li class="active">人才招聘</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

<div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">


<div class="postcontent nobottommargin col_last clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">
                                
                                <!-- Entry Title
                                ============================================= -->
                                <div class="entry-title">
                                    <h2>人才招聘</h2>

                                </div><!-- .entry-title end -->
                                
                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li></li>
                                </ul><!-- .entry-meta end -->

								
                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

									<div class="nobottommargin">

										<div class="fancy-title title-bottom-border">
											<h3>大客户经理</h3>
										</div>

										<p>岗位：大客户经理</p>

										<div class="accordion accordion-bg clearfix">

											<div class="acctitle acctitlec"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>任职资格</div>
											<div class="acc_content clearfix" style="display: block;">
												<ul class="iconlist iconlist-color nobottommargin">
													<li><i class="icon-ok"></i>大学本科以上学历，2年以上销售工作经验; 具有IT及互联网行业工作经验者优先;</li>
													<li><i class="icon-ok"></i>善于与客户沟通，具备优秀的公关能力和良好的商务谈判技巧</li>
													<li><i class="icon-ok"></i>具有高度的责任感和进取心，强烈的团队合作精神，工作主动性强，思维敏捷，有较强的创新能力；</li>
													<li><i class="icon-ok"></i>具有良好的全局意识及行业敏感度，能够扑捉行业信息；</li>
													<li><i class="icon-ok"></i>良好的英语写作和阅读，口语流利</li>

												</ul>
											</div>

											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作职责</div>
											<div class="acc_content clearfix" style="display: none;">
												<ul class="iconlist iconlist-color nobottommargin">
													<li><i class="icon-plus-sign"></i>依据公司销售目标，提交销售计划方案，实施销售过程，完成销售指标； </li>
													<li><i class="icon-plus-sign"></i>负责销售任务的完成；负责所辖区域市场需求分析、市场信息搜集，制定所辖区域技术市场推广计划、方案营销策略和各项目的解决方案；</li>
													<li><i class="icon-plus-sign"></i>行业重要客户开拓、维护、管理；独立负责项目的售前技术支持，包括客户交流、需求分析、产品介绍、解决方案制定；</li>
													<li><i class="icon-plus-sign"></i>协调公司相关资源，及时响应客户需求，解决产品问题，维系行业大客户关系；</li>

												</ul>
											</div>

											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作地点</div>
											<div class="acc_content clearfix" style="display: none;">深圳</div>

										</div>

										<p>投递简历到 rmbcloud@126.com，邮件注明应聘职位，期望薪水</p>

										<div class="divider divider-short"><i class="icon-star3"></i></div>

										<div class="fancy-title title-bottom-border">
											<h3>客服代表</h3>
										</div>

										<p>岗位：客服代表</p>

										<div class="accordion accordion-bg clearfix">

											<div class="acctitle acctitlec"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>任职资格</div>
											<div class="acc_content clearfix" style="display: block;">
												<ul class="iconlist iconlist-color nobottommargin">
													<li><i class="icon-ok"></i>本科以上学历</li>
													<li><i class="icon-ok"></i>口齿清晰、为人诚信、积极乐观、勤于思考、善于总结，不断学习；</li>
													<li><i class="icon-ok"></i>良好的语言表达和沟通能力；</li>
													<li><i class="icon-ok"></i>良好的客户服务意识及团队协作精神；</li>
													<li><i class="icon-ok"></i>灵活、细致、耐心，善于与人沟通，处事有较强的原则性，有较强的法律意识；</li>
													<li><i class="icon-ok"></i>有IT及互联网行业销售工作经验优先；</li>

												</ul>
											</div>

											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作职责</div>
											<div class="acc_content clearfix" style="display: none;">
												<ul class="iconlist iconlist-color nobottommargin">
													<li><i class="icon-plus-sign"></i>客户售前咨询、录入客户信息，及时递交申请资料； </li>
													<li><i class="icon-plus-sign"></i>安排客户签订业务合同，解释相关业务条款和处理客户疑问；</li>
													<li><i class="icon-plus-sign"></i>对已签约客户进行回访、对使用情况进行了解、对存在问题进行专业解答；</li>
													<li><i class="icon-plus-sign"></i>客户资料整理，归档工作；</li>
													<li><i class="icon-plus-sign"></i>日常运营维护，包括行政人事事务处理，日常报表制作报送等；</li>

												</ul>
											</div>

											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作地点</div>
											<div class="acc_content clearfix" style="display: none;">深圳</div>

										</div>

										<p>投递简历到 rmbcloud@126.com，邮件注明应聘职位，期望薪水</p>

										<div class="divider divider-short"><i class="icon-star3"></i></div>

										<div class="fancy-title title-bottom-border">
											<h3>高级网络营销经理</h3>
										</div>

										<p>岗位：高级网络营销经理</p>

										<div class="accordion accordion-bg clearfix">

											<div class="acctitle acctitlec"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>任职资格</div>
											<div class="acc_content clearfix" style="display: block;">
												<ul class="iconlist iconlist-color nobottommargin">
													<li><i class="icon-ok"></i>市场营销、计算机、通信管理或相关专业本科及以上学历；</li>
													<li><i class="icon-ok"></i>5年IT及互联网行业工作经验，3年管理经验，2年以上网络营销工作经验；</li>
													<li><i class="icon-ok"></i>对市场感觉敏锐，对新事物敏感度高，创新能力强，有良好的文字表达能力；</li>
													<li><i class="icon-ok"></i>熟悉互联网市场，对网站技术、运营、策划、推广、网站产品及宣传有深刻理解；</li>
													<li><i class="icon-ok"></i>具备专业知识和技能，熟悉云计算/IDC/互联网领域；</li>
													<li><i class="icon-ok"></i>工作责任心强，有良好的团队建设能力；</li>
													<li><i class="icon-ok"></i>勇于承担工作任务和责任，能在高强度压力下工作；</li>
													<li><i class="icon-ok"></i>良好的英语写作和阅读，口语流利；</li>

												</ul>
											</div>

											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作职责</div>
											<div class="acc_content clearfix" style="display: none;">
												<ul class="iconlist iconlist-color nobottommargin">
													<li><i class="icon-plus-sign"></i>制订公司网络营销计划以及组织市场线上营销工作； </li>
													<li><i class="icon-plus-sign"></i>负责海外云服务线上销售工作，有效达成线上销售任务；</li>
													<li><i class="icon-plus-sign"></i>负责公司网站日常运营与优化；；</li>
													<li><i class="icon-plus-sign"></i>分阶段确定公司重点产品的营销方案策划与执行，有利组合各类营销手段；</li>
													<li><i class="icon-plus-sign"></i>负责公司重大营销策划与执行，可带领团队在各大平台进行有创新性内容的营销活动；</li>

												</ul>
											</div>

											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作地点</div>
											<div class="acc_content clearfix" style="display: none;">深圳</div>

										</div>

										<p>投递简历到 rmbcloud@126.com，邮件注明应聘职位，期望薪水</p>
                                                                                <div class="divider divider-short"><i class="icon-star3"></i></div>

                                                                                <div class="fancy-title title-bottom-border">
                                                                                        <h3>客户经理/销售工程师</h3>
                                                                                </div>

                                                                                <p>岗位：客户经理/销售工程师</p>

                                                                                <div class="accordion accordion-bg clearfix">

                                                                                        <div class="acctitle acctitlec"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>岗位职责</div>
                                                                                        <div class="acc_content clearfix" style="display: block;">
                                                                                                <ul class="iconlist iconlist-color nobottommargin">
                                                                                                        <li><i class="icon-ok"></i>针对公司的海外基础云计算平台，包括云主机，独立服务器，跨境线路等产品，通过各类途径进行新客户的开发和老客户的维护</li>
                                                                                                        <li><i class="icon-ok"></i>不断挖掘潜在客户需求，完成公司团队的业绩指标</li>
                                                                                                        <li><i class="icon-ok"></i>客户跟踪回访，了解客户使用满意度，对于客户提出的产品，业务流程，技术等问题及时反馈公司，协调公司资源加以改善</li>
                                                                                                </ul>
                                                                                        </div>


                                                                                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>岗位要求</div>
                                                                                        <div class="acc_content clearfix" style="display: none;">
                                                                                                <ul class="iconlist iconlist-color nobottommargin">
                                                                                                        <li><i class="icon-plus-sign"></i>30岁以内，大专以上学历</li>
                                                                                                        <li><i class="icon-plus-sign"></i>专业不限，计算机、市场营销等专业优先，有同行业经验可以放宽要求</li>
                                                                                                        <li><i class="icon-plus-sign"></i>有独立开发客户的能力，有较强的人际沟通能力、解决问题能力、执行能力强</li>
                                                                                                        <li><i class="icon-plus-sign"></i>对生活充满激情，为人坦诚自信，善于学习，乐观进取，高度的工作热情，有良好的团队合作精神，乐于从事销售工作</li>
                                                                                                        <li><i class="icon-plus-sign"></i>能承受较大的工作压力并愿意挑战高薪</li>

                                                                                                </ul>
                                                                                        </div>

                                                                                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作地点</div>
                                                                                        <div class="acc_content clearfix" style="display: none;">深圳</div>

                                                                                </div>

                                                                                <p>投递简历到 rmbcloud@126.com，邮件注明应聘职位，期望薪水</p>

                                                                                <div class="divider divider-short"><i class="icon-star3"></i></div>

                                                                                <div class="fancy-title title-bottom-border">
                                                                                        <h3>市场推广助理</h3>
                                                                                </div>

                                                                                <p>岗位：市场推广助理</p>

                                                                                <div class="accordion accordion-bg clearfix">

                                                                                        <div class="acctitle acctitlec"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>岗位职责</div>
                                                                                        <div class="acc_content clearfix" style="display: block;">
                                                                                                <ul class="iconlist iconlist-color nobottommargin">
                                                                                                        <li><i class="icon-ok"></i>负责对国内外云计算，IDC，互联网相关行业信息动态收集和分析</li>
                                                                                                        <li><i class="icon-ok"></i>协助团队完成对公司官网的新闻文章整理编写和更新，负责公司产品的宣传推广及日常活动的文案编写</li>
                                                                                                        <li><i class="icon-ok"></i>配合有关市场推广合作伙伴的商务沟通和对接</li>
                                                                                                        <li><i class="icon-ok"></i>配合完成微信，博客，论坛，门户网站，行业群等平台公司产品文章和促销信息的发布</li>
                                                                                                        <li><i class="icon-ok"></i>协助团队线上线下的宣传活动的策划，文案编写和推广</li>
                                                                                                        <li><i class="icon-ok"></i>参与公司品牌建设和宣传</li>

                                                                                                </ul>
                                                                                        </div>


                                                                                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>岗位要求</div>
                                                                                        <div class="acc_content clearfix" style="display: none;">
                                                                                                <ul class="iconlist iconlist-color nobottommargin">
                                                                                                        <li><i class="icon-plus-sign"></i>大专及以上学历，28岁以下，新闻、市场营销类相关专业优先 </li>
                                                                                                        <li><i class="icon-plus-sign"></i>一年以上市场推广及文案工作经验，有计算机相关行业工作经验者优先</li>
                                                                                                        <li><i class="icon-plus-sign"></i>熟悉运用主要办公软件，能熟练利用word，ppt，excel进行推广方案策划和数据分析整理</li>

                                                                                                </ul>
                                                                                        </div>

                                                                                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>工作地点</div>
                                                                                        <div class="acc_content clearfix" style="display: none;">深圳</div>

                                                                                </div>

                                                                                <p>投递简历到 rmbcloud@126.com，邮件注明应聘职位，期望薪水</p>

									</div>								
                                </div>
                            </div><!-- .entry end -->


                        </div>

                    </div>
                       

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>关于我们</h4>
                                <ul>
                                    <li><a href="about.html"><div>公司简介</div></a></li>
                                    <li><a href="contact.html"><div>联系我们</div></a></li>
                                    <li><a href="customers.html"><div>客户案例</div></a></li>
                                    <li><a href="jobs.html"><div>人才招聘</div></a></li>
                                    <li><a href="/products/cloud/apply.php"><div>申请试用</div></a></li>

                                </ul>

                            </div>

 
                            <include file="Common/hot_news"/>
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      