<layout name="tab_edit_layout" />
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="{:U('index')}">{$ur_here}</a><span class="crumb-step">&gt;</span><span>{:L('edit')}</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="height:40px;">
            <li class="active"><a href="#general" role="tab" data-toggle="tab">{:L('tab_general')}</a></li>
            <li><a href="#detail" role="tab" data-toggle="tab">{:L('tab_content')}</a></li>
        </ul>


        <form action="{:U('update')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <table class="insert-tab" width="100%">
                    <tbody>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('title')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[title]" maxlength="20" size="50" value="{$info['title']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('summary')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[summary]" maxlength="20" size="50" value="{$info['summary']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('category')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[category]" maxlength="20" size="50" value="{$info['category']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('author')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[author]" maxlength="20" size="50" value="{$info['author']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('imgUrl')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[imgUrl]" maxlength="20" size="50" value="{$info['imgUrl']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('content')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[content]" maxlength="20" size="50" value="{$info['content']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('keywords')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[keywords]" maxlength="20" size="50" value="{$info['keywords']}" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <th width="150"><i class="require-red">*</i>{:L('create_time')}:</th>
                            <td>
                                
                                <input class="input-sm" name="data[create_time]" maxlength="20" size="50" value="{$info['create_time']}" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input type="hidden" name="id" value="{$info['id']}" />
                                <input class="btn btn-primary btn6 mr10" value="{:L('button_submit')}" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="{:L('button_return')}" type="button">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="detail">
                <table class="table table-hover" width="90%" id="detail-table">
                    <tr>
                        <td><div class="col-md-9"> 
                            <script id="rich_text_area" name="content" type="text/plain" style="width:810px; height:360px;">{$info['content']}</script> 
                        </div></td>
                    </tr>
                </table>
            </div>
            <div class="button-div">
                <input type="hidden" name="id" value="{$info['id']}" />
                <input class="btn btn-primary btn6 mr10" value="{:L('button_submit')}" type="submit">
                <input class="btn btn6" onclick="history.go(-1)" value="{:L('button_return')}" type="button">
            </div>
        </form>
    </div>
</div>