        <header id="header" class="full-header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo -->
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="__PUBLIC__/images/logo-dark.png"><img src="__PUBLIC__/images/logo.jpg" alt="香港服务器" title="香港服务器"></a>
                        <a href="/" class="retina-logo" data-dark-logo="__PUBLIC__/images/logo-dark@2x.png"><img src="__PUBLIC__/images/logo.jpg" alt="香港云主机" title="香港云主机"></a>
                    </div><!-- #logo end -->

                    <nav id="primary-menu">

                        <ul>
                            <li class="current"><a href="/"><div>首页</div></a>
  
                            </li>
                            <li class="mega-menu "><a href="{:U('Product/vm')}"><div>产品&服务</div></a>
                                <div class="mega-menu-content style-2 col-5 clearfix">
                                    <ul>
                                        <li class="mega-menu-title"><a href="{:U('Product/vm')}"><div>热门云服务器</div></a>
                                            <ul>
                                                <volist name="hot_idc_list" id="vo">  
                                                <li><a href="{:U('Product/cloud',array('idc'=>$vo['id']))}" title="{$vo.zone}云服务器"><div>{$vo.zone}云服务器</div></a></li>
                                                </volist>
                                            </ul>
                                        </li>
                                    </ul>

                                    <volist name="idc_list" id="vo">
                                    <notempty name="vo.zone_list">
                                    <ul>
                                        <li class="mega-menu-title"><a href="{:U('Product/vm')}"><div>{$vo.region}云服务器</div></a>
                                            <ul>
                                                <volist name="vo.zone_list" id="zone">
                                                <li><a href="{:U('Product/cloud',array('idc'=>$zone['id']))}"><div>{$zone.zone}服务器</div></a></li>
                                                </volist>
                                            </ul>
                                        </li>
                                    </ul>
                                    </notempty>
                                    </volist>
                                    <ul>
                                        <li class="mega-menu-title"><a href="{:U('Product/host')}"><div>独立服务器</div></a>
                                            <ul>
                                                <volist name="host_list" id="vo">
                                                <li><a href="{:U('Product/host',array('idc'=>$vo['id']))}" title="{$vo.zone}独立服务器"><div>{$vo.zone}独立服务器</div></a></li>
                                                </volist>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="mega-menu-title"><a href="{:U('Product/vpc')}"><div>增值服务</div></a>
                                            <ul>
                                                <li><a href="{:U('Product/vpc')}"><div>云专有网络</div></a></li>
                                                <li><a href="{:U('Product/lb')}"><div>云负载均衡</div></a></li>
                                                <li><a href="{:U('Product/ops')}"><div>云代维</div></a></li>
												<li><a href="{:U('Product/line')}"><div>跨境专线</div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class=""><a href="{:U('Case/web')}"><div>解决方案</div></a>
                                <ul>
                                    <li><a href="{:U('Case/web')}"><div>电子商务</div></a></li>
                                    <li><a href="{:U('Case/game')}"><div>网络游戏</div></a></li>
                                    <li><a href="{:U('Case/app')}"><div>移动应用</div></a></li>
                                    <li><a href="{:U('Case/finance')}"><div>跨境金融</div></a></li>
                                    <li><a href="{:U('Case/data')}"><div>数字营销</div></a></li>
                                   
                                </ul>
                            </li>
                            <li class=""><a href="{:U('Service/product')}"><div>技术支持</div></a>
                                <ul>
                                    <li><a href="{:U('Service/product')}"><div>了解产品</div></a></li>
                                    <li><a href="{:U('Service/install')}"><div>安装使用</div></a></li>
                                    <li><a href="{:U('Service/faq')}"><div>运行维护</div></a></li>
                                   
                                </ul>
                            </li>
                            <li class=""><a href="{:U('News/company')}"><div>最新动态</div></a>
                                <ul>
                                    <li><a href="{:U('News/company')}"><div>公司动态</div></a></li>
                                    <li><a href="{:U('News/internet')}"><div>媒体报道</div></a> </li>
                                    <li><a href="{:U('News/news')}"><div>行业新闻</div></a> </li>
                                </ul>
                            </li>
                            <li class=""><a href="{:U('About/about')}"><div>关于我们</div></a>
                                <ul>
                                    <li><a href="{:U('About/about')}"><div>影速简介</div></a></li>
                                    <li><a href="{:U('About/contact')}"><div>联系我们</div></a> </li>
                                    <li><a href="{:U('About/customers')}"><div>客户案例</div></a> </li>
                                    <li><a href="{:U('Job/index')}"><div>人才招聘</div></a></li>
                                    <li><a href="/products/cloud/apply.php"><div>申请试用</div></a> </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Top Cart -->
                        <div id="top-cart">
                            <a href="#" id="top-cart-trigger" style="width:24px"><img src="__PUBLIC__/images/qq.png" alt="美国服务器" title="美国服务器"></a>
                            <div class="top-cart-content">
                                <div class="top-cart-title">
                                    <h4>在线咨询</h4>
                                </div>
                                <div class="top-cart-items">
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-desc">

                                            <volist name="sales" id="vo">      
                                                <div class="col_half col_last nobottommargin">
                                                <span>{$vo.name}</span>
                                                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$vo.qq}&amp;site=qq&amp;menu=yes" target="_blank"> <img border="0" title="{$vo.name}" alt="{$vo.name}" src="http://wpa.qq.com/pa?p=2:{$vo.qq}:51"></a>
                                                </div>
                                            </volist>

                                       </div>
                                    </div>
                                </div>
                                <div class="top-cart-action clearfix">
                                    <h4 class="nobottommargin">服务热线</h4><br>
									<div class="col_half col_last nobottommargin">
									  <span style="font-size:16px;">400-968-7859</span>
									</div>
                                </div>
                            </div>
                      </div><!-- #top-cart end -->
            	</nav><!-- #primary-menu end -->
                </div>
            </div>
        </header><!-- #header end -->


        