<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="<?php echo ADMIN_PUC;?>/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo ADMIN_PUC;?>/css/main.css"/>
    <script type="text/javascript" src="<?php echo ADMIN_PUC;?>/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Common/top" /> 
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <include file="Common/left" />
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>热烈庆祝网站全新改版</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="__MODULE__/Idc/index"><i class="icon-font">&#xe001;</i>IDC管理</a>
                    <a href="__MODULE__/Product/index"><i class="icon-font">&#xe005;</i>产品管理</a>
                    <a href="__MODULE__/Sales/index"><i class="icon-font">&#xe048;</i>在线QQ</a>
                    <a href="__MODULE__/News/index"><i class="icon-font">&#xe041;</i>新闻管理</a>
                    <a href="__MODULE__/Album/index"><i class="icon-font">&#xe01e;</i>相册管理</a>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>系统基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">操作系统</label><span class="res-info">{:php_uname()}</span>
                    </li>
                    <li>
                        <label class="res-lab">运行环境</label><span class="res-info">{:php_sapi_name()}</span>
                    </li>
                    <li>
                        <label class="res-lab">PHP版本</label><span class="res-info">{:PHP_VERSION}</span>
                    </li>
                    <li>
                        <label class="res-lab">系统用户</label><span class="res-info">{:Get_Current_User()}</span>
                    </li>
                    <li>
                        <label class="res-lab">程序版本</label><span class="res-info">V 0.1</span>
                    </li>
                    <li>
                        <label class="res-lab">上传附件限制</label><span class="res-info">2M</span>
                    </li>
                    <li>
                        <label class="res-lab">服务器时间</label><span class="res-info">{$datetime} </span>
                    </li>                    
                    <li>
                        <label class="res-lab">域名</label><span class="res-info">{$_SERVER['USERDOMAIN']}</span>
                    </li>
                    <li>
                        <label class="res-lab">IP</label><span class="res-info">{:GetHostByName($_SERVER['SERVER_NAME'])}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>使用帮助</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">网站问题咨询：</label><span class="res-info">QQ：99190319</span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>