<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>关于我们</h1>
                <span>About us</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{:U('About/about')}">关于我们</a></li>
                    <li class="active">关于我们</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

<div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">


<div class="postcontent nobottommargin col_last clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">
                                
                                <!-- Entry Title
                                ============================================= -->
                                <div class="fancy-title title-bottom-border">
                                    <h2>明芳互联-领先的海外云服务提供商</h2>

                                </div><!-- .entry-title end -->
                                
                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li></li>
                                </ul><!-- .entry-meta end -->

								
                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

                                    <p> &nbsp;&nbsp; 明芳互联是一家具有海外云计算运营背景的技术型企业，主要向客户提供全球范围内的云服务器、独立服务器租用、云负载均衡、跨境专线等服务。总部位于深圳，研发中心设在美国硅谷。明芳互联愿景成为客户最受欢迎的海外云服务提供商，并积极推动海外云服务业务健康发展，与合作伙伴共同成长。</p>
                                    
                                    <p> &nbsp;&nbsp; 至今，明芳互联已在全球建设了15个云服务节点，覆盖了中国香港、台湾、北美、欧洲、以及东南亚地区，为超过1200家企业提供了海外云服务业务，客户群体涉及外贸网站、门户网站、金融网站、网络游戏、社交论坛、移动应用、流媒体等众多类型的互联网企业，帮助中国企业拓展海外市场。运营服务中心设在深圳，实现业务咨询、业务受理、7×24小时即时响应等一站式服务。</p>
                                    
                                    <h3>企业理念</h3>
                                    
                                    <p><strong>感恩客户: </strong>感恩和尊重在企业发展道路上的每一个合作过的客户，客户的肯定和赞许是明芳互联不断前行的动力</p>
                                    <p><strong>善待员工: </strong>重视员工利益，激发员工潜能，体现自身价值，相信员工是企业最大的一笔财富，正是因为有了每一位员工辛劳付出才有了明芳互联的今天和未来</p>
                                    <p><strong>追求品质: </strong>精益求精的追求产品和服务的品质，无论过去已经多么优秀，仍需面对瞬息万变的竞争危机，不断提升自我</p>
                                    <p><strong>永不放弃: </strong>热爱自己的工作，当遇到困难和挫折时不抛弃，不放弃拥有必胜的信念，敢于接受新的挑战</p>
                                    <h3>为什么选择我们</h3>
									<h3>品质</h3>
                                    <p> &nbsp;&nbsp; 明芳互联恪守品质准则，始终坚持精益求精的建设每一个云节点，追求为我们的客户提供全球最优质的网络资源和高价值的云服务解决方案。不同于国内其他价低质劣的服务提供商，我们的设备均位于世界上最具实力的互联网服务供应商，这就将面临比竞争对手更高昂的网络资源采购成本，对此我们将竭尽所能通过高效的资源管控单元以降低整体运营成本，为客户提供更具性价比的产品和服务，感受云服务带来的非凡体验。目前我们已在全球主要国家和地区部署了15个云点.</p>
                                    <h3>沟通</h3>
                                    <p> &nbsp;&nbsp; 明芳互联深知真诚有效的沟通在商业活动中的重要性，无论是团队内部建设还是在面对我们的客户，一直不懈的追求更加完善的客户服务体验。我们提供多渠道沟通方式，热线电话、即时通信工具、邮件、网页等，客户可以选择一项自己喜欢的方式与我们沟通交流；我们注重客户的业务体验感受，不断简化业务流程得以让我们客户花费最小的沟通成本解决问题，不断培养员工的职业素养，以专业、负责、积极的态度深入了解我们客户的需求，提供最优化的解决方案，不断健全监察机制，百分百收录我们客户的投诉和建议。</p>
                                    <h3>增值</h3>
                                    <p> &nbsp;&nbsp; 明芳互联非常关注我们客户的时间成本。我们的工作人员一直跟进通信和网络解决方案的先进性，累积必要的竞争能力，确保我们提供给客户的解决方案与客户需求保持同步，从云服务器的基础配置到信息数据安全，从应用环境的搭建到数据备份迁移，增值服务的范围涉及我们客户信息网络的各个方面，我们的客户均可以灵活选择适合自己的增值服务。所有这一切的努力就是让我们的客户把更多的精力和时间用在自身的业务上去，把信息网络技术方面的工作放心的交给我们。</p>
                                   

									
                                    <!-- Post Single - Content End -->
                                    
                                </div>
                            </div><!-- .entry end -->


                        </div>

                    </div>
                       

                    </div><!-- .postcontent end -->


                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>关于我们</h4>
                                <ul>
                                    <li><a href="about.html"><div>明芳互联简介</div></a></li>
                                    <li><a href="contact.html"><div>联系我们</div></a></li>
                                    <li><a href="customers.html"><div>客户案例</div></a></li>
                                    <li><a href="jobs.html"><div>人才招聘</div></a></li>
                                    <li><a href="/products/cloud/apply.php"><div>申请试用</div></a></li>

                                </ul>

                            </div>

 
                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                                <include file="Common/hot_news"/>                                                                   
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
                                                                                                             
                                                                                                             
		
