<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>联系我们</h1>
                <span>Contact us</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/about/about.html">关于我们</a></li>
                    <li class="active">联系我们</li>
                </ol>
            </div>

        </section><!-- #page-title end -->



        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

<div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">


<div class="postcontent nobottommargin col_last clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">
                                
                                <!-- Entry Title
                                ============================================= -->
                                <div class="fancy-title title-bottom-border">
                                    <h2>联系我们</h2>

                                </div><!-- .entry-title end -->
                                
                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li></li>
                                </ul><!-- .entry-meta end -->

								
                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

                                    <p>电话：0755-8630-3752 销售热线：18665848265<br>邮件：售前支持: sales#yingsoo.com   技术支持: support#yingsoo.com (#换成@) <br>地址：深圳市宝安区兴业路2005号宝安互联网创意园c栋601室<br>7x24小时服务热线：400-630-3752</p>
									<p><iframe src="baidumap/index.html?center=113.875001%2C22.565434&zoom=19&width=558&height=360&markers=113.875001%2C22.565434&markerStyles=l%2CA" style="width:560px;height:362px;" frameborder="0"></iframe></p>

									
                                    <!-- Post Single - Content End -->
                                    
                                </div>
                            </div><!-- .entry end -->


                        </div>

                    </div>
                       

                    </div><!-- .postcontent end -->


                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget_links clearfix">

                                <h4>关于我们</h4>
                                <ul>
                                    <li><a href="about.html"><div>影速简介</div></a></li>
                                    <li><a href="contact.html"><div>联系我们</div></a></li>
                                    <li><a href="customers.html"><div>客户案例</div></a></li>
                                    <li><a href="jobs.html"><div>人才招聘</div></a></li>
                                    <li><a href="/products/cloud/apply.php"><div>申请试用</div></a></li>

                                </ul>

                            </div>

 
                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/131.html" class="nobg"><img src="/data/upload/201606/f_9a3aaa58df5882d7165fe63ead9be832.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/131.html">HostingCon在深举办，影速科技Yingsoo应邀参会</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/130.html" class="nobg"><img src="/data/upload/201606/f_fab2628fda36e15428daa48f043e7ef7.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/130.html">香港服务器价格知多少，便宜没好货？</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-19</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/129.html" class="nobg"><img src="/data/upload/201606/f_e7d507876434abc18d419e392d5f0787.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/129.html">选择美国特惠服务器，自建平台很重要</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-03-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
                                                                                                             
                                                                                                             