<layout name="common_layout" />
		<!-- Content                                                                 
		============================================= -->
		<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="single-post nobottommargin">

						<!-- Single Post                                             
						============================================= -->
						<div class="entry clearfix">

							<!-- Entry Title                                         
							============================================= -->
							<div class="entry-title">
								<h2>{$news.title}</h2>
							</div><!-- .entry-title end -->

							<!-- Entry Meta                                          
							============================================= -->
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> {$news.create_time}</li>
							</ul><!-- .entry-meta end -->

							<!-- Entry Content                                       
							============================================= -->
							<div class="entry-content notopmargin">

	                            {$news.content}
								<!-- Post Single - Content End -->

								<div class="clear"></div>

							</div>
						</div><!-- .entry end -->

						<!-- Post Navigation                                         
						============================================= -->            
						<div class="post-navigation clearfix">                       
                                                                                    
							<div class="col_half nobottommargin">                    
								<a href="{:U('News/detail', array('id'=>$pre['id']))}">{$pre.title}</a>
							</div>                                                   
                                                                                    
							<div class="col_half col_last tright nobottommargin">    
                                                          <a href="{:U('News/detail', array('id'=>$next['id']))}">{$next.title}</a>     
							</div>                                                   
                                                                                    
						</div><!-- .post-navigation end -->                          

					</div>

				</div>

			</div>

		</section><!-- #content end -->

