<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>媒体报道</h1>
                <span>Media report</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/news/posts.html">最新动态</a></li>
                    <li class="active">媒体报道</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content                                                                                                                                 
        ============================================= -->                                                                                            
        <section id="content">                                                                                                                     
                                                                                                                                                     
            <div class="content-wrap">                                                                                                             
                                                                                                                                                     
				<div class="container clearfix">                                                                                                     
                                                                                                                                                     
                    <!-- Post Content                                                                                                                
                    ============================================= -->                                                                                
					<div class="postcontent nobottommargin col_last clearfix">                                                                       
                                                                                                                                                     
                        <!-- Posts                                                                                                                   
                        ============================================= -->                                                                            
                        <div id="posts" class="small-thumbs">                                                                                                                                                             <volist name="news" id="vo">                             
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="{$vo.imgUrl}" data-lightbox="image"><img class="image_fade" src="{$vo.imgUrl}" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="{:U('News/detail',array('id'=>$vo["id"]))}">{$vo.title}</a>                                                         

                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> {$vo.date}</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                     </volist>                              
                                                                                                                 
                                                                                                                                                     
							<ul class="pagination">                                                                                                  
							  <li><a href="posts.html">«</a></li>                                                                                             
                                                  <li class="active"><a href="posts.html">1</a></li>                                                                                             
                                                    <li><a href="posts-1.html">2</a></li>                                                                                             
                                                    <li><a href="posts-2.html">3</a></li>                                                                                             
							  <li><a href="posts-2.html">»</a></li>                                                                                             
							</ul>                                                                                                                      
                                                                                                                                                     
                                                                                                                                                     
                        </div><!-- #posts end -->                                                                                                    
                                                                                                                                                     
                                                                                                                                                     
                                                                                                                                                     
                    </div>                                                                                                                           
					<!-- .postcontent end -->                                                                                                          
                                                                                                                                                     
                                                                                                                                                     
                    <!-- Sidebar                                                                             
                    ============================================= -->                                        
                    <div class="sidebar nobottommargin clearfix">                                            
                        <div class="sidebar-widgets-wrap">                                                   
                                                                                                             
                            <div class="widget widget_links clearfix">                                       
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <ul>                                                                         
                                    <li><a href="company.html"><div>公司动态</div></a></li>                  
                                    <li><a href="news.html"><div>行业新闻</div></a></li>                  
                                    <li><a href="posts.html"><div>媒体报道</div></a></li>                  
                                                                                                             
                                </ul>                                                                        
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <include file="Common/hot_news"/>
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                                                                                             
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      