<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>媒体报道</h1>
                <span>Media report</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/news/posts.html">最新动态</a></li>
                    <li class="active">媒体报道</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content                                                                                                                                 
        ============================================= -->                                                                                            
        <section id="content">                                                                                                                     
                                                                                                                                                     
            <div class="content-wrap">                                                                                                             
                                                                                                                                                     
				<div class="container clearfix">                                                                                                     
                                                                                                                                                     
                    <!-- Post Content                                                                                                                
                    ============================================= -->                                                                                
					<div class="postcontent nobottommargin col_last clearfix">                                                                       
                                                                                                                                                     
                        <!-- Posts                                                                                                                   
                        ============================================= -->                                                                            
                        <div id="posts" class="small-thumbs">                                                                                    
                                                                                                                                                     
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201608/f_c0328f0977c386b708b284c3b9d8881a.jpg" data-lightbox="image"><img class="image_fade" src="/data/upload/201608/f_c0328f0977c386b708b284c3b9d8881a.jpg" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="posts/181.html">360°全方位升级  明芳互联云运维堪称典范</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-08-04</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201607/f_12a1f5b4a2c31e074ad1983c4ca664fa.png" data-lightbox="image"><img class="image_fade" src="/data/upload/201607/f_12a1f5b4a2c31e074ad1983c4ca664fa.png" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="posts/164.html">明芳互联：云服务器市场中的专注者</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-07-21</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201607/f_f67de441e74dbede72e625fe497ffd7e.jpg" data-lightbox="image"><img class="image_fade" src="/data/upload/201607/f_f67de441e74dbede72e625fe497ffd7e.jpg" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="posts/143.html">“多快好省”的云服务器，就是它！</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-07-01</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p>节点多，速度快，设备好，省成本的“多快好省”云服务器，当然首选明芳互联！</p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201605/f_4c8273b3698c12e99480d247115d692b.png" data-lightbox="image"><img class="image_fade" src="/data/upload/201605/f_4c8273b3698c12e99480d247115d692b.png" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="posts/121.html">明芳互联云服务器 助力企业海外市场拓展之路</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-05-31</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p>在经济发展全球化以及互联网+的双重影响下，越来越多的企业开始将业务拓展至海外市场，同时也带动了一众海外运营平台的问世，但伴随着发展的深入，一系列的问题也随之暴露出来。</p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201601/f_a04757254dec762c54fc26ddaba5e124.jpg" data-lightbox="image"><img class="image_fade" src="/data/upload/201601/f_a04757254dec762c54fc26ddaba5e124.jpg" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="posts/88.html">尽显优势！明芳互联新加坡云服务器延迟仅45ms</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-01-30</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p>明芳互联 是一家专门面向海外的云计算服务公司，新加坡云服务器到中国大陆方式延迟最低仅45ms左右，千次零丢包，远超行业平均水平。</p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                                                                                                                                                     
							<ul class="pagination">                                                                                                  
							  <li><a href="posts.html">«</a></li>                                                                                             
                                                  <li class="active"><a href="posts.html">1</a></li>                                                                                             
                                                    <li><a href="posts-1.html">2</a></li>                                                                                             
                                                    <li><a href="posts-2.html">3</a></li>                                                                                             
							  <li><a href="posts-2.html">»</a></li>                                                                                             
							</ul>                                                                                                                      
                                                                                                                                                     
                                                                                                                                                     
                        </div><!-- #posts end -->                                                                                                    
                                                                                                                                                     
                                                                                                                                                     
                                                                                                                                                     
                    </div>                                                                                                                           
					<!-- .postcontent end -->                                                                                                          
                                                                                                                                                     
                                                                                                                                                     
                    <!-- Sidebar                                                                             
                    ============================================= -->                                        
                    <div class="sidebar nobottommargin clearfix">                                            
                        <div class="sidebar-widgets-wrap">                                                   
                                                                                                             
                            <div class="widget widget_links clearfix">                                       
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <ul>                                                                         
                                    <li><a href="company.html"><div>公司动态</div></a></li>                  
                                    <li><a href="news.html"><div>行业新闻</div></a></li>                  
                                    <li><a href="posts.html"><div>媒体报道</div></a></li>                  
                                                                                                             
                                </ul>                                                                        
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/131.html" class="nobg"><img src="/data/upload/201606/f_9a3aaa58df5882d7165fe63ead9be832.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/131.html">HostingCon在深举办，明芳互联应邀参会</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/130.html" class="nobg"><img src="/data/upload/201606/f_fab2628fda36e15428daa48f043e7ef7.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/130.html">香港服务器价格知多少，便宜没好货？</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-19</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/129.html" class="nobg"><img src="/data/upload/201606/f_e7d507876434abc18d419e392d5f0787.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/129.html">选择美国特惠服务器，自建平台很重要</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-03-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                                                                                             
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      