<layout name="common_layout" />

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>行业新闻</h1>
                <span>Trade news</span>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/news/news.html">最新动态</a></li>
                    <li class="active">行业新闻</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content                                                                                                                                 
        ============================================= -->                                                                                            
        <section id="content">                                                                                                                     
                                                                                                                                                     
            <div class="content-wrap">                                                                                                             
                                                                                                                                                     
				<div class="container clearfix">                                                                                                     
                                                                                                                                                     
                    <!-- Post Content                                                                                                                
                    ============================================= -->                                                                                
					<div class="postcontent nobottommargin col_last clearfix">                                                                       
                                                                                                                                                     
                        <!-- Posts                                                                                                                   
                        ============================================= -->                                                                            
                        <div id="posts" class="small-thumbs">                                                                                    
                            <volist name="news" id="vo">                                            
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="{$vo.imgUrl}" data-lightbox="image"><img class="image_fade" src="{$vo.imgUrl}" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="{:U('News/detail',array('id'=>$vo["id"]))}">{$vo.title}</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> {$vo.date}</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                     </volist>                              
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201608/f_2fb238cd612fc76655dc95eb7ee5db6c.png" data-lightbox="image"><img class="image_fade" src="/data/upload/201608/f_2fb238cd612fc76655dc95eb7ee5db6c.png" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="news/179.html">甲骨文巨资收购NetSuite云服务公司，向云服务行业更加深入一脚</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-08-03</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201607/f_095b9091ff01d6fc3ebfd4fe42bf3ce1.jpg" data-lightbox="image"><img class="image_fade" src="/data/upload/201607/f_095b9091ff01d6fc3ebfd4fe42bf3ce1.jpg" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="news/175.html">云计算在医疗行业的六大重要优势</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-07-29</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201607/f_120c368905dd44d2c9e12615e68af0e6.jpg" data-lightbox="image"><img class="image_fade" src="/data/upload/201607/f_120c368905dd44d2c9e12615e68af0e6.jpg" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="news/170.html">谷歌在云计算方面正迎头而上 努力超赶</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-07-26</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                            <div class="entry clearfix">                                                                                           
                                <div class="entry-image">                                                                                          
                                    <a href="/data/upload/201607/f_f5029905061e182347ef4b86d02112f2.png" data-lightbox="image"><img class="image_fade" src="/data/upload/201607/f_f5029905061e182347ef4b86d02112f2.png" style="opacity: 1;"></a> 
                                </div>                                                                                                               
                                <div class="entry-c">                                                                                              
                                    <div class="entry-title">                                                                                      
                                        <h2><a href="news/166.html">科学家使用云计算和AI技术  追踪神秘美丽的鲸鲨</a></h2>                                                         
                                    </div>                                                                                                           
                                    <ul class="entry-meta clearfix">                                                                               
                                        <li><i class="icon-calendar3"></i> 2016-07-22</li>                                                      
                                    </ul>                                                                                                            
                                    <div class="entry-content">                                                                                    
                                        <p></p>                                                                            
                                                                                                                                                     
                                    </div>                                                                                                           
                                </div>                                                                                                               
                            </div>                                                                                                                   
                                                                                                                                                     
							<ul class="pagination">                                                                                                  
							  <li><a href="news.html">«</a></li>                                                                                             
                                                  <li class="active"><a href="news.html">1</a></li>                                                                                             
                                                    <li><a href="news-1.html">2</a></li>                                                                                             
                                                    <li><a href="news-2.html">3</a></li>                                                                                             
                                                    <li><a href="news-3.html">4</a></li>                                                                                             
                                                    <li><a href="news-4.html">5</a></li>                                                                                             
                                                    <li><a href="news-5.html">6</a></li>                                                                                             
                                                    <li><a href="news-6.html">7</a></li>                                                                                             
                                                    <li><a href="news-7.html">8</a></li>                                                                                             
                                                    <li><a href="news-8.html">9</a></li>                                                                                             
                                                    <li><a href="news-9.html">10</a></li>                                                                                             
							  <li><a href="news-9.html">»</a></li>                                                                                             
							</ul>                                                                                                                      
                                                                                                                                                     
                                                                                                                                                     
                        </div><!-- #posts end -->                                                                                                    
                                                                                                                                                     
                                                                                                                                                     
                                                                                                                                                     
                    </div>                                                                                                                           
					<!-- .postcontent end -->                                                                                                          
                                                                                                                                                     
                                                                                                                                                     
                    <!-- Sidebar                                                                             
                    ============================================= -->                                        
                    <div class="sidebar nobottommargin clearfix">                                            
                        <div class="sidebar-widgets-wrap">                                                   
                                                                                                             
                            <div class="widget widget_links clearfix">                                       
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <ul>                                                                         
                                    <li><a href="company.html"><div>公司动态</div></a></li>                  
                                    <li><a href="news.html"><div>行业新闻</div></a></li>                  
                                    <li><a href="posts.html"><div>媒体报道</div></a></li>                  
                                                                                                             
                                </ul>                                                                        
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                    
                                                                                                             
                                <h4>最新动态</h4>                                                            
                                <div id="post-list-footer">                                                  
                                                                                                             
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/131.html" class="nobg"><img src="/data/upload/201606/f_9a3aaa58df5882d7165fe63ead9be832.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/131.html">HostingCon在深举办，明芳互联应邀参会</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/130.html" class="nobg"><img src="/data/upload/201606/f_fab2628fda36e15428daa48f043e7ef7.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/130.html">香港服务器价格知多少，便宜没好货？</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-05-19</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                    <div class="spost clearfix">                                             
                                        <div class="entry-image">                                            
                                            <a href="/news/company/129.html" class="nobg"><img src="/data/upload/201606/f_e7d507876434abc18d419e392d5f0787.jpg" alt=""></a>    
                                        </div>                                                               
                                        <div class="entry-c">                                              
                                            <div class="entry-title">                                      
                                                <h4><a href="/news/company/129.html">选择美国特惠服务器，自建平台很重要</a></h4>                 
                                            </div>                                                           
                                            <ul class="entry-meta">                                        
                                                <li>2016-03-30</li>                                      
                                            </ul>                                                            
                                        </div>                                                               
                                    </div>                                                                   
                                                                                                             
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                <h4>标签</h4>                                                           
                                <div class="tagcloud">                                                     
                                    <a href="#">云主机</a>                                                
                                    <a href="#">香港云主机</a>                                                
                                    <a href="#">美国服务器</a>                                                
                                    <a href="#">新加坡服务器</a>                                                
                                    <a href="#">台湾云主机</a>                                                
                                    <a href="#">负载均衡</a>                                                
                                    <a href="#">CDN</a>                                                
                                    <a href="#">网路游戏</a>                                                
                                    <a href="#">跨境电商</a>                                                
                                    <a href="#">大数据</a>                                                
                                </div>                                                                       
                                                                                                             
                            </div>                                                                           
                                                                                                             
                            <div class="widget clearfix">                                                  
                                                                                                             
                                                                                                             
                                                                                                             
                            </div>                                                                           
                                                                                                             
                        </div>                                                                               
                    </div><!-- .sidebar end -->                                                              
                                                                                                             
                </div>                                                                                       
                                                                                                             
                  </div>                                                                                     
        </section><!-- #content end -->                                                                      
                                                                                                             
                                                                                                             