<layout name="index_layout" />

<if condition="$full_page">
<div class="crumb-wrap">
	<div class="crumb-list"><i class="icon-font"></i><a href="/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">{$ur_here}</span></div>
</div>
<div class="search-wrap">
	<div class="search-content">
		<form action="" method="post">
			<table class="search-tab">
				<tr>
				    <th width="120">选择分类:</th>
                    <td>
                        <select name="search_type" id="">
                            <option value="all">全部</option>
                            <option value="pf-web">电子商务</option>
                            <option value="pf-game">网络游戏</option>
                            <option value="pf-app">移动应用</option>
                            <option value="pf-finance">跨境金融</option>
                            <option value="pf-data">大数据&数字营销</option>                            
                        </select>
                    </td>
					<!-- <th width="70">{:L('keyword')}:</th>
					<td><input class="common-text" placeholder="关键字" name="keyword" value="" id="" type="text"></td> -->
					<td><input class="btn btn-primary btn2" name="sub" value="{:L('button_search')}" type="submit"></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<div class="result-wrap">
	<form name="myform" id="myform" method="post">
		<div class="result-content" id="listDiv">
</if>
			<table class="result-tab" width="100%">
				<tr>
					<th class="tc" width="5%"><input class="allChoose" name="" id='check' type="checkbox"></th>
					
					<th><center><a href="javascript:listTable.sort('id'); ">{:L('id')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('image'); ">{:L('image')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('name'); ">{:L('name')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('category'); ">{:L('category')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('data_loader'); ">{:L('data_loader')}</a></center></th>

					<th><center><a href="javascript:listTable.sort('type'); ">{:L('type')}</a></center></th>
					<th>操作</th>
				</tr>
				<volist name="list" id="vo">
				<tr>
					<td class="tc">
						<input name="ids[]" value="$vo['id']" class="check" type="checkbox">
					</td>
					
					<td><center><span onclick="javascript:listTable.edit(this, 'edit_id', {$vo['id']})">{$vo['id']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_image', {$vo['id']})">{$vo['image']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_name', {$vo['id']})">{$vo['name']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_category', {$vo['id']})">{$vo['category']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_data_loader', {$vo['id']})">{$vo['data_loader']}</span></center></td>

					<td><center><span onclick="javascript:listTable.edit(this, 'edit_type', {$vo['id']})">{$vo['type']}</span></center></td>
					<td><center>
						<a class="link-update" href="{:U('edit', array('id'=>$vo['id']))}">{:L('edit')}</a>
						<a class="link-del" onclick="return confirm('{:L('remove_confirm')}');" href="{:U('del', array('id'=>$vo['id']))}">{:L('remove')}</a>
					</center></td>
				</tr>
				</volist>
			</table>
<if condition="$full_page">
			<include file="Common/page" />
		</div>
		<div class="list_act_div">
			<a href="{:U('add')}" class="btn btn-primary btn2"><i class="icon-font"></i>{:L('add')}</a>
			<input name="remove" type="submit" id="btnSubmit" value="{:L('remove')}" class="btn btn-default" disabled="true" onclick="this.form.target = '_self'" />
			<input name="batch" type="hidden" value="1" />
		</div>
	</form>
</div>
</if>