<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>管理员列表——后台管理</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.2.min.js"></script>
</head>
<body>
<include file="Common/top" /> 
<div class="container clearfix">
	<div class="sidebar-wrap">
		<div class="sidebar-title">
			<h1>菜单</h1>
		</div>
		<include file="Common/left" />
	<!--/sidebar-->
	<div class="main-wrap">
		{__CONTENT__}
	</div>
	<!--/main-->
</div>
</body>
</html>
